[2019-01-24 02:02] iHiD opened #1 "Intro for Cornell Students."
Hello @exercism/cornell-cs5152-2019 👏

This is the repository we'll be using for planning out the general static analysis work on Exercism.

As a first step, when you've decided languages, please let us know here and we'll create Issues for you and the relevant maintainers to discuss the plan.

Please take some time to familiarise yourself with Exercism - both the project (https://exercism.io - si

[2019-02-05 23:04] iHiD opened #2 "The interface"
I propose the following pattern for how this works:
- An orchestrating service ("Orchestrator") will download a solution into a directory ("Directory")
- Orchestrator will call a shell-script to run a language-specific static analyser ("Analyser"), passing the Directory as a paramater.
- Analyser will read the solution file(s) from the Directory, analyse them, write a JSON file called "analysis.js

[2019-02-06 07:47] ErikSchierboom commented on #2
I like the shell script/directory based approach. The JSON format looks simple enough. I assume that comments are something that will be focused on later? That said, I think we'll also want to post a comment when approving an exercise: "great job" or something similar. Is this text something the analyzer should return or will that be done automatically?

[2019-02-06 07:50] ErikSchierboom commented on #2
Addendum regarding the comments. There will be solutions that can be auto approved, but that will also really benefit from an additional comment. Something like: "Great work!... If you'd like to do some further iterating, you could try X..." This would require an additional comments property. We can of course also enabled this feature later on.

[2019-02-06 10:51] tehsphinx commented on #2
### Current state of exercism

Exercism basically has 2 outputs currently:

1) A `response` struct from which a complete response to the student can be built:

[code]

Note: Especially when auto-approving I very much like the feature of a **random tip** that provides extra food for the students. The random tip is usually a reference to a talk or a blog post. (Students regularly mention the tips as

[2019-02-06 10:57] tehsphinx commented on #2
**TLDR**: I agree with @ErikSchierboom that we should add a `response` field (string) to the json. I think it should be optional though so the hurdle for tools is small. If empty, no comment is added.

[2019-02-06 12:18] ErikSchierboom commented on #2
I have a preference for using `comment` instead of `response`, as that better matches the terminology on the website I think. A sample payload would look like:

[code]

Feel free to shut this discussion down @iHiD, if you feel we're getting too far ahead of ourselves. It's just so much fun to think of how awesome this tool can be!

[2019-02-06 16:22] tehsphinx commented on #2
Yeah, this really is exciting!

I wonder if the JSON should (maybe optionally) contain an additional "error" field in case of exit code != 0 (failure). That could give the calling routine more information on what went wrong. Mostly for debugging purposes.

Additionally we might want to define a few exit codes if e.g. a json file cannot be created. Suggestion:
[code]

Feel free to add / remove / ed

[2019-02-07 20:50] alex-bender opened #3 "The python way"
Hello, I would like to help with python track. Don't have much to share yet but I'm working on something what can augment the job.

[2019-02-07 23:09] iHiD commented on #3
Great. Thank you! Do any of the @exercism/python have desire/time to get involved in this (see [blog post](https://exercism.io/blog/automated-mentoring-support-project) for context)

[2019-02-08 02:32] cmccandless commented on #3
Desire I have. Unfortunately, I don't have much spare bandwidth at the moment. I can be available for discussions and code reviews.

[2019-02-08 14:20] alex-bender commented on #3
I have 2 questions then:
* Is it possible to join exercism/python?
* What's our next step?

[2019-02-08 14:46] cmccandless commented on #2
Might I suggest optional field

[code]

[2019-02-08 16:18] cmccandless commented on #3
I'll defer that question to @iHiD

We'll need to start working on a proof-of-concept. @iHiD, would it be better for @alex-bender to create the proof-of-concept repository under his own user, or would you prefer to create one under the exercism org from the start and grant him and I access?

[2019-02-08 16:26] alex-bender commented on #3
@cmccandless meanwhile you can check my project page here:
https://github.com/alex-bender/mntpy/projects/1
It's rough plan of what I'm thinking to do

[2019-02-08 19:20] ErikSchierboom commented on #2
I was wondering if instead of using a boolean property for approval, we could use an enumeration:

- `Approved`
- `RequiresChange`
- `RequiresMentoring`

The rationale being that compile errors or failing tests should result in an automatic comment prompting the user to change, and that these solutions do not need to be reviewed by a mentor.

[2019-02-08 19:56] cmccandless commented on #2
So much for "beautifully simple" :joy:

[2019-02-08 21:02] tehsphinx commented on #2
@cmccandless: About the error codes: I was only suggesting them as exit codes when a json file cannot be written.
Defining general error codes will probably be a never ending story as there will a huge variety of different errors that can happen in all those different languages. That would raise the bar of implementing the different tools considerably.

The error itself I would suggest as a basic

[2019-02-09 08:48] ErikSchierboom commented on #2
To be honest, I'm not really in favor of the error codes scheme. It seems a bit..complicated to me. Wouldn't some logging by the analyzer itself be enough to diagnose any potential issues?

This would be my proposed scheme, which I think it still quite simple (just to `string` fields):

[code]

[2019-02-09 20:35] tehsphinx commented on #2
@ErikSchierboom
So you are suggesting to write a log file to the directory for errors? Probably a good idea, I agree.

Still wonder if there should be some way of letting exercism know if there is a read/write disk failure. In that case a log file wouldn't help. That is where I thought it might help to define some (only very few!!) exit codes, as the tool should exit with an exit code anyway.

[2019-02-09 21:49] iHiD commented on #2
Good discussion :)

I definitely think this JSON file will expand to have support for messages
etc!

However for a first cut of integration I'd like to keep the functionality
very simple - approved or not, as that's the MVP (minimal viable product
we're building) as a first stage.

I wouldn't conceptually mind another "status" key that recorded whether the
program ran successfully or not, and mayb

[2019-02-10 08:59] ErikSchierboom commented on #2
I understand the goal of building a MVP and keeping it very simple. Having just the approval status is fine of course. However, I do want to argue against using a boolean value for the approval status. In my experience, while using a boolean seems a very natural choice for a lot of things, in practice it can lead to some modelling issues later. The main problem with booleans is that they are, by d

[2019-02-11 01:24] iHiD commented on #2
Yeah. I totally agree about booleans in general. The reason I think that it is appropriate here is that the whole web-model is so tightly coupled to this. Approving a solution is the key trigger point in a solution's lifecycle.

We will at some point definitely have a range of wider outputs. I'm imagining [approve without comment, approve with comment, disapprove with comment, disapprove and sugge

[2019-02-11 09:29] ErikSchierboom commented on #2
I understand. Let's leave it at this then and see how things will turn out later.

[2019-02-13 02:07] kytrinyx commented on #3
@alex-bender I'm super stoked that you're excited about working on this!

I think that the most important piece to figure out is the core AST-stuff. Looking at your project I see cards about docker container, `bat` integration, and downloading a solution—I think these are probably the least important for the proof of concept, as in the next two or three months we'll be working out how all the piec

[2019-02-13 07:44] tehsphinx commented on #2
I'd hoped for a commenting possibility right from the start but of course I understand that you have to figure out a lot of other things right now to get the entire infrastructure working.

Let's start with the MVP 😄

[2019-02-13 13:07] alex-bender commented on #3
@kytrinyx Hello Katrina!

Thanks for writing such detailed answer -- really appreciate that.
Let me elaborate a bit:

The idea of that my project was born at the beginning of the year: 1st of Jan, even before I found out that there is similar project for Go thrack. So my original intention was to help myself with doing repeatiting job -- reviewing the same solutions. I've spent a couple of weekend

[2019-02-13 18:38] iHiD commented on #2
Thanks @tehsphinx. We may well introduce commenting relatively early as "proposed comments for mentors" (similar to what exalysis does now) to get a feel for how comments are used by mentors.

But (as you allude to) let's get it right rather than get there fast.

[2019-02-15 01:28] petertseng commented on #3
Hey there, if I can be of help here, I can comment on

Note that the students are focusing on the static analysis portions. If I understand correctly your project has some components that, say, a mentor might run on their own machine. For example downloading a solution, running the tests. The students will not be working on these, so you do not have to worry about stepping on each others' toes the

[2019-02-15 12:11] alex-bender commented on #3
@petertseng you are completely right, but as I've mentioned earlier -- I've started the project little bit ahead of time (I've got to know about the project after) so currently, my project is a little bit outdated or at least shifted in goals.

Anyway, I've got the main idea and definitely I'll watch further development.
Thanks all!

[2019-02-15 12:11] #3 closed, assigned to nobody

[2019-02-16 22:07] tehsphinx opened #4 "Hints on twofer (Go track)"
### A summary of what exalysis currently adds as hints on `twofer`

**Generalised solution**
- I see you referenced the names `Alice` and `Bob` directly in your code. This is a good first step! Can you make the `ShareWith` function work with any name supplied to it?

  [Template](https://github.com/tehsphinx/exalysis/blob/master/track/twofer/tpl/generalize-name.md)
  [Exalysis Code](https://github

[2019-02-16 22:09] tehsphinx commented on #4
As far as I know we mostly approve unless the solution doesn't work or was not generalized. (At least that is what I do.)

[2019-02-16 22:49] tehsphinx commented on #4
There are 2 things I am thinking of adding:
- introducing an extra variable on `twofer` is not necessary in Go as Go does not pass by reference. A hint on that and an explanation might be useful if people add a new variable instead of overwriting `name` if it is empty.
- I have seen solutions using an additional function which makes it only harder to read. A Comment might be useful to point that o

[2019-02-17 19:55] iHiD commented on #4
This is super helpful. Would you mind updating your OP with links to where you check for each of those things pls? It would be a really nice reference for @kytrinyx and I to look at when considering the Ruby one :)

[2019-02-18 20:28] kytrinyx commented on #4
I agree on those additional hints, @tehsphinx. When I review manually I always comment on those two things.

[2019-02-18 23:10] tehsphinx commented on #4
@iHiD Did you have something like this in mind?

Note: There are still some known false positives and cases that are not caught be exalysis. That wasn't so bad since the mentor still had a look at it's output anyway.

On a completely automated tool I still wonder how we should identify good solutions. **The absence of improvement suggestions does not infer a good solution.**

I guess we would need

[2019-02-18 23:16] kytrinyx commented on #4
That's what I've been thinking. That there are some ASTs that we know are good, and we approve those. Then as we get more data, we might discover that there are more ASTs that are "typical" of good solutions, and we can add those to the mix.

[2019-02-18 23:48] kytrinyx commented on #1
It looks like the languages picked are Python and Java.

[2019-02-19 00:33] kntsoriano commented on #1
Hello @exercism/cornell-cs5152-2019! Would be happy to help with any questions :)

[2019-02-21 09:20] ErikSchierboom commented on #2
Just wanted to mention it here. It might be wise to add a "version" field to the output file, to be able to evolve the output file with the least chance of breaking changes. This is likely not at all MVP material, but I just wanted to mention it.

[2019-02-22 16:57] tehsphinx commented on #2
I just cannot shake the thought that the automated tools should be able to write comments also **completely autonomous**. Here some typical situations where I feel that is necessary:

(talking of "the tool" as a person 😄)
- A solution can basically be approved but there is a minor hint the tool would like to give the student. If the tool cannot do that there are 2 options: 1) leave it alone for a

[2019-02-24 16:29] ErikSchierboom commented on #2
Oh, and last thing about using booleans: they might introduce unwanted combinations. Suppose we have these two booleans: `approve` and `refer_to_mentor`. These values being booleans, users could conceivably return a status field in which both fields are `true`, which doesn't really make sense. Of course we could mention this in documentation and return an error when these values are passed, but th

[2019-03-03 21:53] tehsphinx opened #5 "WIP: AST Matching (Go Track)"
Finally got around to try some `ast` matching algorithm which can be found here: https://github.com/tehsphinx/astpatt

### The Problem

Exalysis and other algorithms with the same approach try to check solutions by finding things to improve. That is done by finding common mistakes / improvable patterns.

Those algorithms have a blind spot. If the algorithm doesn't find anything to improve it can h

[2019-03-03 21:54] tehsphinx commented on #4
@kytrinyx, @iHiD: Had a try at the AST comparison algorithm. See #5.

[2019-03-03 22:18] tehsphinx commented on #5
My thoughts on how this could work together with the suggestion algorithm:
- If the AST pattern does not match: NO APPROVAL
- If the AST pattern matches, but a TODO suggestion was added: NO APPROVAL
- If the AST pattern matches, but too many suggestions were added: NO APPROVAL
- If the AST pattern matches and only a few or no suggestions were added: APPROVAL

Loosening the first point in this list

[2019-03-04 03:44] kytrinyx commented on #4
@tehsphinx That is really useful! I haven't taken the time to play with this to digest it properly, but I think that the observations you've made are spot on, and highlight some potential areas that we'll need to experiment with to ensure we don't (a) end up painting ourselves into a corner where we have to add a never-ending list of good solutions, or (b) accidentally approve a solution that is w

[2019-03-11 18:17] iHiD commented on #2
I entirely agree with this and I agree with all the examples you give. But phase 1 is just approve/disapprove for our sanity! :)

[2019-03-11 18:21] iHiD commented on #2
So @ErikSchierboom was right and I was wrong :)

I've pushed an interface doc [here](https://github.com/exercism/automated-mentoring-support/blob/master/docs/interface.md#output-format)

@ErikSchierboom @tehsphinx If you follow the 1/2/3 instructions [here](https://github.com/exercism/automated-mentoring-support/blob/master/docs/creating-an-analyzer.md) then I will do 5 for you.

[2019-03-11 18:21] #2 closed, assigned to nobody

[2019-03-11 18:25] ErikSchierboom opened #8 "[New Analyzer] C#"
I'd love to create a C# analyzer. There already is a prototype at https://github.com/erikschierboom/exercism.analyzers.csharp, so I hope goes some way towards my credentials :)

[2019-03-11 18:28] ErikSchierboom commented on #2
Really like the simple interface definition!

[2019-03-11 18:36] iHiD opened #11 "Storing comments"
I would like to store comments in the `website-copy` repository, as I want the responsibility for the language of the comments to rest with the website-copy team not the analyzers teams.

I would like to suggest we take the following approach to this.

- In the analyzers, comments are returned as strings (e.g. `ruby.general.use_class_not_module` or `ruby.two_fer.use_string_format_not_kernel_format

[2019-03-11 18:39] iHiD opened #12 "Deploying binaries"
We are prototyping everything with Ruby. For this, I expect us to deploy the whole repository to the server and then run `./bin/analyze.sh`. For compiled code, we could have a target directory that is deployed instead (which would itself contain a `bin` folder).

Csharp and Go will probably set the tone here as they will be the first two compiled analyzers we use. What do @ErikSchierboom, @tehsphi

[2019-03-11 18:39] ErikSchierboom commented on #11
Oh I think this is fantastic. I really, really don't want to be the one writing the comments, as I'm sure others can do that much better!

[2019-03-11 18:39] SleeplessByte commented on #11
As member of @exercism/website-copy-reviewers and as maintainer of @exercism/javascript , I support this 100%.

(Tagged so those who will be reviewing actually can join this discussion).

[2019-03-11 18:41] iHiD commented on #11
(cc @exercism/website-copy in general too)

[2019-03-11 18:47] iHiD commented on #8
Thanks @ErikSchierboom! Very excited about your prototype and work.

I've created [a repo](https://github.com/exercism/csharp-analyzer) for you, and set up a new team (@exercism/csharp-analyzer) for you with write-permissions :)

I have also sent you privately the first iterations of the most recent 500 two-fers in C#.

[2019-03-11 18:47] #8 closed, assigned to nobody

[2019-03-11 18:51] iHiD commented on #5
So, I considered this approach, but was concerned that it would be too brittle or maybe have too many false-positives. My approach was to walk through different scenarios and then abort when a difference or unknown was found (see here: https://github.com/exercism/ruby-analyzer/blob/master/lib/analyzers/two_fer/analyze.rb#L17)

I'm not in any way convinced my approach is better but I post it purely

[2019-03-11 20:43] kytrinyx commented on #11
I 100% agree that this is how it should be done ✨

[2019-03-12 00:42] razum2um commented on #5
@tehsphinx I think at the first step we should only focus on most clean solutions (e.g. approved without/with "nice/good/ok/handpick-word-from-current-ones" comments at once) and replacing names of variables/functions/classes/namespaces consistently -> then only mark as approved, without trying smart suggestions.

given above, @iHiD could you bring some examples?

actually I also think that it is

[2019-03-12 00:52] razum2um commented on #12
@iHiD what about running a docker container mounting a volume with solution? Let the author of the tool decide what's inside :) and all the stuff about security, code trust and resource management is included. Still, not sure if anything here won't run on linux/docker.. Are C# solutions here ready for .net core?

As a side note: maybe this could be helpful for students in a sense of preconfigured

[2019-03-12 01:05] razum2um opened #15 "Persisted state"
I *highly* value the stateless approach to shell-script+solution-directory, but in order to properly implement #5 a running checker should somehow consume and reduce over all submitted solutions+aprovements -> and consequently store/load it somehow.

If you saw #12 with docker suggestion I think an additional persisted volume could be fine. Obvious downsides are state corruption / maybe need for "

[2019-03-12 07:42] ErikSchierboom commented on #12
This would also be my preference. You would then never have issue where e.g. the binary is compiled for the wrong platform or anything like that. Also, creating Docker images is just so, well, easy nowadays :) Security-wise, I think that running in a Docker container is also safer than just running a binary, although I'm sure said binary would be run on an isolated machine of course.

I wonder wha

[2019-03-12 07:43] ErikSchierboom commented on #15
Ehm, could you explain why this is necessary?

[2019-03-12 07:44] ErikSchierboom commented on #4
This is really helpful!

[2019-03-12 07:44] ErikSchierboom commented on #4
Yeah, this is also how I envision the C# analyzer progressing.

[2019-03-12 10:28] bitfield commented on #12
I'm not completely clear what the question is.

[2019-03-12 12:50] ErikSchierboom commented on #12
I think the question is: how should we organise things to allow us to run track-specific analyzers in a uniform way. Right @iHiD?

[2019-03-12 13:02] cmccandless commented on #11
As far as managing the gap between the 2 repos: would it simplify deployment to add `website-copy` as a submodule, or is that adding further complication?

[2019-03-12 13:05] cmccandless commented on #11
Also, making a note here that the following documentation will need to be updated if this concept is implementing:
- https://github.com/exercism/automated-mentoring-support/blob/master/docs/interface.md#comments

[2019-03-12 13:32] iHiD commented on #12
Yes. And specifically how do we organise the repos in a standard way. I'm
less fussed about how they end up on machines (e.g. docker) for this
discussion.

On Tue, 12 Mar 2019, 12:50 Erik Schierboom, <notifications@github.com>
wrote:

[2019-03-12 13:37] iHiD commented on #11
The comments themselves won't need to go in the analyzer repo so I don't think there's a gap. They'll be joined up in the website itself.

[2019-03-12 14:02] sshine commented on #11
Having comments in a shared format makes it easier to detect when one track can inherit a hint from another track: The hint text may be almost or exactly the same, and the analyzer may differ. So if you already have the one, you can create simple, repetitive tasks to add analyzers for things derivable from other tracks.

But if I'd like to run a traditional linter and show the student its output,

[2019-03-12 15:06] bitfield commented on #12
When you say 'organize the repos in a standard way', what do you mean? Like the Exalysis repo?

[2019-03-12 16:23] razum2um commented on #15
As mentioned before, I'd like to match ASTs not only from a single example, but collect everything what have been and will be approved

[2019-03-12 17:04] ErikSchierboom commented on #15
Ah, but there might be other ways to get this! For example by having the option to do an export or something like that.

[2019-03-12 21:25] tehsphinx commented on #2
@iHiD, @ErikSchierboom:  There is one more thing about the interface that I have been pondering a bit the last few days. We might need this at some point after we are able to make comments.

I think it would be good for an analyser to know on which iteration it is -- and maybe even what recommendations were already given.

Reason: We don't want to keep students in an endless loop repeating the sam

[2019-03-12 21:54] tehsphinx commented on #5
@razum2um:

That is kind of what this prototype is about. It walks the AST and decides what information to compare/disregard.

That's what exalysis already does... no "trying" necessary 😏

[2019-03-12 22:02] tehsphinx commented on #5
@iHiD I see your point. In the current version my algorithm might be too lax. I guess I relied very much on the suggestion-finding after to check for the kinds of things you check in your approach.

The comparing algorithm could be made much more strict easily. I think that is a matter of fine tuning to find the right balance.

The advantage of AST comparison is that
1. it is very simple to create

[2019-03-12 22:12] iHiD commented on #2
Yeah. I've thought a bit about this too and am unsure what the best approach is. I *think* we can say that the analyser should just send back it's comment(s) and if that's the same as a previous comment then the orchestrator overrides the analyzer and refers to a mentor (as we can presume the student hasn't understood the message). Needs lots of thought though.

FWIW, this is the reason I'm so kee

[2019-03-12 22:23] tehsphinx commented on #11
I think this approach is generally very good! The analyzer code should not worry about the comments content or formulation.

Just a few observations I have made with exalysis:
- From different people changing a comments wording it happened (in rare cases) that a comment that was added on several slightly different cases was changed in a way that it didn't really fit one of the cases any more. Some

[2019-03-12 22:46] tehsphinx opened #16 "Standardize Analyzer Tests"
When it comes to analyzers producing comments I consider this a very good case for TDD. Tests for exalysis do this by taking real life solutions and defining which comment to add or not to add.

Should we generalize that accross analyzers or leave that up to the implementers?

I would vote for generalizing that so that contributors outside the specific analyzer team can easily add a new case to be

[2019-03-12 23:06] tehsphinx commented on #12
So... if I'm getting this right (making this simple):
For Ruby you do something like:
- install Dependencies
- clone ruby analyzer repo
- `./bin/analyze.sh`

And now the question with compiled languages: Usually the compiled executable is not part of the repository. Cloning it doesn't help unless we add the compiled executable -- which in turn would only bloat the `git` repo.

My thoughts:
- Docke

[2019-03-12 23:21] tehsphinx opened #17 "[New Analyzer] Go"
I would like to create an integrated Go analyzer. My existing standalone analyzer is https://github.com/tehsphinx/exalysis.

[2019-03-13 01:13] iHiD commented on #12
Yes. This is exactly what I'm asking really. Do we want to commit binaries/releases into Git/somewhere, or do we want to compile this repo at the deployment stage, and if we choose the later, how do we standardise this.

Naively, I'm pretty against Docker in this situation. I'm not really interested in booting and shutting down Dockers per solution, as we have too much scale, so we'd need a Docker

[2019-03-13 02:49] kytrinyx commented on #12
I would prefer not to, as Git and binary don't play very well together (it's a way to bloat your repository very, very quickly). If we want to use the binary, we should upload that as a release, and have the deploy (or whatever) script download the release instead of cloning the repository.

[2019-03-13 07:31] tehsphinx commented on #12
One possibility: We could auto-create releases on the github repo itself to use that as a storage:
https://developer.github.com/v3/repos/releases/.

This could be done in a build pipeline:
- Travis: https://docs.travis-ci.com/user/deployment/releases/
- Github Actions (do we have/could we get access to the beta?) Sample Action: https://github.com/JasonEtco/upload-to-release

Should be done only fo

[2019-03-13 07:50] ErikSchierboom commented on #12
Playing devils advocate here: did you actually benchmark if there is a major performance hit? Maybe the performance hit is not as big as you'd think (I'm no Docker performance expert though). For reference, there is a [IBM paper](https://domino.research.ibm.com/library/cyberdig.nsf/papers/0929052195DD819C85257D2300681E7B/$File/rc25482.pdf) that did some performance research, and the results look p

[2019-03-13 07:52] ErikSchierboom commented on #11
Yes, this is something that perhaps requires some additional thought on how to handle this. A comment stating: "You can convert the method to an expression body" is slightly less helpful than "You can convert method X to an expression body".

[2019-03-13 08:12] tehsphinx commented on #12
At work we recently switched to running some services on docker (as a first step towards our own kubernetes cluster).

It is all on our own servers. We have a docker registry installed where we currently push every single build from gitlab. Restarting an already downloaded docker container is instant. Updating to a new version is mostly a matter of downloading the container (across the network) an

[2019-03-13 10:43] ccare commented on #12
I see from @iHiD's comments (above) that maybe this conversation is more about organisational patterns than containers vs deployment environments. However, I'll succumb to the temptation and comment anyway:

I'm not against Docker at all, and linking this with work to pre-build 'exercism' images could be nice way of joining the dots (e.g. [exercism/exercism#4740] is the latest conversation I've se

[2019-03-13 11:02] SleeplessByte commented on #11
I think named placeholders are usually pretty good; rarely need the gettext description.

[2019-03-13 12:50] ErikSchierboom commented on #12
Yes, this would be smart security-wise. The analyzers also should not need more than that.

This sounds great!

Well, the C# analyzer currently depends on the .NET Core SDK to be installed, but I could also create platform specific binaries that only require the .NET Core runtime to be installed. In fact, I think I'm even able to create a fully self-contained build, in which the runtime is also pu

[2019-03-13 12:54] tehsphinx commented on #12
The build process for Go is something along the lines of:
- spin up the official golang docker container with the newest version of Go installed
- check out the source code repository (which the CI tool does for you)
- run to get all dependencies: `go mod download` (optional. will otherwise be done in the build step. This is basically doing a checkout on all the dependency git repositories)
- run

[2019-03-13 13:00] tehsphinx commented on #11
@SleeplessByte: not every language might have named placeholders.

[2019-03-13 15:32] SleeplessByte commented on #11
That doesn't matter. The idea is to have an interface where the analyzer returns the a string that will be used as template. If that api is changed to something like "the analyzer returns a string and a dictionary" / similar, only `ruby` needs to have named placeholders. And it does.

[2019-03-13 16:29] tehsphinx commented on #11
You are right. Missed that.

[2019-03-13 17:42] tehsphinx commented on #16
A sample on how the `cases.json` file could look like:

[code]

[2019-03-13 18:21] ErikSchierboom commented on #16
I like this idea, although it does add a little bit of complexity, but that comes with greater expressiveness. The main selling point is its extensibility, as non-maintainers should indeed be able to easily add new test cases.

One thing to consider: maybe it would make more sense to not have a single `cases.json` file per exercise, but a separate `expected_result.json` per solution? That would al

[2019-03-13 20:17] tehsphinx commented on #16
@ErikSchierboom: Good suggestions!

I like the idea to have an `expected_result.json` file per solution.

About `not_expected_comments`: If we remove that we always have to provide a complete list of expected comments. The `not_expected_comments` field helps with the following cases:
- It makes it easier for people to add a new case where one comment was missing or one comment was too much. Not ha

[2019-03-14 07:36] ErikSchierboom commented on #16
I worry less about that, as I expect the output file's format to do change a bit, but not that often. And in such a case, a small search and replace should hopefully be enough.

I think that maybe we should not focus too much on standardizing, as different languages might have different requirements regarding testing. That said, I do think this is an excellent approach, and I'll be converting the

[2019-03-14 12:19] bitfield commented on #12
Just as a footnote, this is absolutely what containers were made for. I recently published a [slim volume](https://cloudnativedevopsblog.com) on the topic. But as software engineers, I'm sure we'd all be happy to bikeshed technology choices until the cows come home. It's much more important to get some code up and running and see what works and what doesn't work. At the end of the day, the person

[2019-03-15 20:54] SleeplessByte opened #18 "Pass track into the analyzer"
According to [the interface](https://github.com/exercism/automated-mentoring-support/blob/master/docs/interface.md), and the [sample `analyze.sh`](https://github.com/exercism/ruby-analyzer/blob/master/bin/analyze.sh#L4), the analyzer will be called with the `exercise-slug` and root directory of the submission.

I propose adding the track explicitly:

- This allows for languages that can be express

[2019-03-16 16:08] SleeplessByte opened #19 "[New Analyzer] estree (javascript + typescript)"
I've created an initial estree analyzer that can handle any estree (so currently on exercism `javascript` and `typescript`). Id love to have this as a base, and two "per-exercise" implementations/repos, one for JS and one for TS.

You can find the analyzer at [SleeplessByte/exercism-estree-analyzer](https://github.com/sleeplessByte/exercism-estree-analyzer).

_Unfortunately_ the javascript `two-fe

[2019-03-17 18:36] iHiD commented on #17
https://github.com/exercism/go-analyzer/ :)

[2019-03-17 18:36] #17 closed, assigned to nobody

[2019-03-17 18:37] iHiD commented on #19
I'm more than happy to create JS and TS repos for you. I'm not sure whether having a central one is a good or bad idea in the longrun. I would have thought that the mentoring tips would diverge almost immediately?

@kytrinyx Thoughts?

[2019-03-17 18:38] iHiD commented on #18
Let's have the discussion on #19 :) To quote what I said there for reference:

[2019-03-17 20:02] SleeplessByte commented on #19
I've written most of the notes for both. In most cases the TS ones are js plus additional rules. But I think with the restructuring of the track this will become more diverting; therefore my current suggestion would be:

exercism/javascript-analyzer
exercism/typescript-analyzer

However, there is some duplication then. Alle the config, base class and output logic would be duplicated.

I'm happy ma

[2019-03-17 21:48] iHiD commented on #19
Great!

In which case, can we close #18 as something that doesn't need to happen? (as there will be two separate analyzers)?

[2019-03-18 00:00] SleeplessByte commented on #18
Closed per #19

[2019-03-18 00:00] #18 closed, assigned to nobody

[2019-03-18 20:10] iHiD commented on #19
Here you go:

https://github.com/exercism/typescript-analyzer
https://github.com/exercism/javascript-analyzer

:)

[2019-03-18 20:10] #19 closed, assigned to nobody

[2019-03-18 20:14] iHiD commented on #16
Nice. https://github.com/exercism/ruby-analyzer/pull/7

[2019-03-18 20:44] SleeplessByte commented on #16
I agree with @ErikSchierboom -- I'll implement it very similarly to the Ruby Analyzer proposal.

Don't forget that if #11 decides we'll do templated comments, that this is more interesting as well (array of objects? Or array of ("strings" or "object")) -- and needs updating.

[2019-03-18 21:48] tehsphinx commented on #16
I'm warming up to the idea ;)

https://github.com/exercism/go-analyzer/commit/98001ab8479046b73632720cc901c652d7214283

[2019-03-19 16:43] iHiD commented on #11
Everyone happy with me supporting the following syntaxes?

I personally will be using (1) and (4) in Ruby. But I imagine (4) is harder in some languages.

[code]

[code]

[code]

[code]

[2019-03-19 16:54] ErikSchierboom commented on #11
Looking good. I will probably be using 3, but I'll see if I can get things working using scenario 4.

[2019-03-19 17:18] iHiD commented on #11
Yeah. I figured for C# 3 would be easier. I'll guard for all 4 scenarios so just whatever makes your life the easiest is fine by me.

[2019-03-19 17:28] ErikSchierboom commented on #11
Awesome!

[2019-03-19 19:20] tehsphinx commented on #11
Looks good to me. I think I will be using (4). Implementing some custom json marshalling 😄

[2019-03-19 22:05] SleeplessByte commented on #11
I would prefer _named_ arguments.

Positional arguments mean that the analyzers break if someone doesn't change the order correctly on website copy; plus it means you need to see the analyzer to understand what is meant in order to write the copy.

Especially that last part is important for non-automation-maintainer-written notes.

Instead:

[code]

[2019-03-20 03:10] sshine commented on #11
As an extension to @SleeplessByte's comment, I would prefer if the parameterised comment was not constructed as a list,

    ["ruby.general.some_paramaterised_message", { "foo": "param1", "bar": "param2" }]

since this provides for bad naming (`->[0]`, `->[1]`, which was which?) when extracting these values, and another source of errors when the list is not long enough (what was missing?). Rather,

[2019-03-20 07:11] ErikSchierboom commented on #11
I really like @sshine's proposal! Two options:

1. Just a plain string: `"ruby.two_fer.some_specific_message"`
1. An object with two keys: `"comment"` and `"params"`.

[2019-03-20 08:06] SleeplessByte commented on #11
@sshine proposal is actually what I currently output (with slightly different keys).

[2019-03-20 14:26] Stargator commented on #11
@iHiD I may be missing some context, what are the comments commenting on?

[2019-03-20 14:46] iHiD commented on #11
@Stargator What is wrong with the solution and needs fixing.

[2019-03-20 15:14] Stargator commented on #11
@iHiD I have no problem with the solution, I guess I just don't what the comments are that this issue is referring to.

Essentially, I don't know what the problem is, so I don't have an opinion on the solution.

What I think of when I think of "comments" are the comments left by students and mentors on solution pages. If not that, then are the comments the hints mentors/maintainers leave as part o

[2019-03-20 15:22] ErikSchierboom commented on #11
@Stargator This issue is referring to the comments that will be made automatically by the automated mentoring functionality that is being worked on.

[2019-03-20 18:52] Stargator commented on #11
@ErikSchierboom Okay, thank you.

[2019-03-21 21:10] iHiD opened #21 "Data Flow"
This is a (written) flow-chart of how data will be passed around. Any general comments are welcome before I turn this into a document for this repo (where y'all can help fix my awful typos etc :) )

### Website
- [x] Receives an iteration from a user via the CLI
- [x] Uploads submitted code to a private s3 bucket using the path `submissions/:id/iterations/:id/...`
- [x] Files a message via Propono

[2019-03-21 22:08] SleeplessByte commented on #12
For JS/TS it's running `tsc`, preferably through package.json as that also handles dependencies (e.g. `yarn install && yarn build`). It then needs `node` to run; so no single executable. Yeah there are ways to create a single executable (like electron) but this seems ridiculous for what we're trying to achieve.

on deploy:
- checkout
- install
- build
- run

[2019-03-22 01:14] petertseng commented on #21
Even though I don't know what Propono is, from my reading of this written form, this lack of knowledge did not appear to impede my overall understanding of the flow; I simply assumed "Propono is something where things can send and receive messages" and the rest remained understandable. So it is likely that no action is needed in response.

However if there is an important detail that is useful to

[2019-03-22 04:31] xitanggg opened #22 "[New Analyzer] Python"
@TreyAguirre and I'd love to create a Python analyzer. We just made our first implementation of the static analysis tool for two_fer and it can be found at https://github.com/TreyAguirre/Python-Two-Fer. The structure and interface have been modified to resemble the current ruby analyzer interface. Any feedback and suggestion are appreciated👍😃

[2019-03-22 13:09] iHiD commented on #21
@petertseng Good point. Thanks. Some info that might help add colour:

- To quote the README, "Propono is a pub/sub gem built on top of Amazon Web Services (AWS). It uses Simple Notification Service (SNS) and Simple Queue Service (SQS) to seamlessly pass messages throughout your infrastructure.". It basically passes messages between apps through a publish/subscribe arctiteture.
- I'm the maintaine

[2019-03-22 20:35] ErikSchierboom commented on #11
@iHiD Do you have any comments on the format suggested by @sshine? It is slightly different from your proposed format, but not by much.

[2019-03-23 19:48] tehsphinx commented on #11
Note: latest go-analyzer uses the format suggest by @sshine. Of course I can change that should it not be the consensus we come to. Here two examples:
https://github.com/exercism/go-analyzer/blob/master/tests/two-fer/6/expected.json
https://github.com/exercism/go-analyzer/blob/master/tests/two-fer/9/expected.json

[2019-03-24 00:55] SleeplessByte commented on #11
`typscript-analyzer` and `javascript-analyzer` both output the proposed format with external template string references when running with `--templates` now.

[2019-03-25 15:22] iHiD commented on #22
Awesome. I'll get this set up for you :)

[2019-03-25 15:31] Smarticles101 opened #23 "[New Analyzer] Java"
I'd like to start work on a java analyzer. I help maintain the java track :)

[2019-03-25 18:58] iHiD commented on #23
@exercism/cornell-cs5152-2019 How are y'all getting on with the Java analyzer?

[2019-03-26 09:54] ErikSchierboom commented on #11
@iHiD If you find some free time, would you mind chipping in with your thoughts on the above suggested format?

[2019-03-29 13:08] iHiD opened #24 "Deployment flow"
Triggering event: Someone creates a tag in GitHub.

- [x] **(Github)** Webhook in website responds to new tags (API)
- [x] **(Website)** Fire propono message with track_slug, repo, tag_id
- [x] **(Builder)** Receives propono message
- [x] **(Builder)** Pulls from git (@ccare)
- [x] **(Builder)** Builds new docker file from tag (@ccare)
- [x] **(Builder)** Pushes to AWS (@ccare)
- [x] **(Builder)**

[2019-03-29 15:27] iHiD commented on #23
@Smarticles101 I've created a repo and give you write permission. (https://github.com/exercism/java-analyzer)

@petertseng @exercism/cornell-cs5152-2019 Could you please discuss with @Smarticles101 what you've done already and agree how to get it into that repo please? If you need/want permission to write to it, please just let me know.

[2019-03-29 15:30] iHiD commented on #22
@xitanggg @TreyAguirre You both have access to https://github.com/orgs/exercism/teams/python-analyzer now. Please could you push your code up there :)

[2019-03-29 15:31] #22 closed, assigned to nobody

[2019-03-29 17:56] iHiD commented on #11
The following will be valid:

[code]

[2019-03-29 17:56] iHiD commented on #11
Could someone PR this to the interface please :)

[2019-03-29 17:59] iHiD commented on #12
Thank you all for the discussion. Closing in favour of your PRs on https://github.com/exercism/automated-mentoring-support/blob/master/docs/docker.md

[2019-03-29 17:59] #12 closed, assigned to ccare

[2019-03-29 17:59] cmccandless commented on #11
I'll have it up in a moment.

[2019-03-29 18:00] ErikSchierboom commented on #11
Great!

[2019-03-30 11:28] ErikSchierboom opened #28 "Number of returned comments"
How many comments should an analyzer return? Only one, more than one? There are clear benefits to both approaches. Only one comment prevents the student from being overwhelmed, but could possibly lead to more iterations than immediately returning all comments. One thing to also consider is that I expect the comments to be more expansive than what they might be now. A human mentor is less likely to

[2019-03-30 11:29] ErikSchierboom opened #29 "How to deal with naming?"
For two-fer, sometimes students like to change the parameter name (e.g. from `input` to `name`). As a mentor, I would approve both, but how should an analyzer deal with this? Should there be a pre-defined list of variable names? Should be ignore variable names?

[2019-03-30 11:43] ErikSchierboom opened #31 "How to handle different types of formatting"
Some languages have a pre-defined formatting scheme. Examples are Elm and Go. For these languages, it makes sense that a solution with non-standard formatting results in comments being made by the analyzer. But how should we deal with languages that don't have such formal formatting rules? E.g. for C# there are no such predefined rules, except for some very [general ones](https://docs.microsoft.co

[2019-03-30 12:11] SleeplessByte commented on #28
I generally do long form comments when I mentor as a human -- and I think returning only one comment will be very detrimental in a lot of cases:

I think the best approach is to group comments. If there is something structurally wrong, which means the tests won't run, you can give them that comment (or set of comments):
- When you're trying to use an enumerator / comprehension, and have a comment

[2019-03-30 12:12] SleeplessByte commented on #29
I think it depends on the language -- sane variable naming is usually just a stylistic choice. I know many mentors comment on it, but really, it's usually not part of learning a language.

The CaSiNg _might_ be, as some languages have very strict rules.

In general, I would not want to enforce certain parameter names in JavaScript and TypeScript.

[2019-03-30 12:14] SleeplessByte commented on #31
I think it should handle it like we would if we were to mentor it as a human.

In JS and TS that means we wouldn't comment on it. Ever. So therefore I don't think the analyzer should.

[2019-03-30 14:31] tehsphinx commented on #28
When mentoring I definitely give all comments. That gives the student a lot of information but prevents them from having to wait again.

For automation we could do it differently because we will have very fast response times.

My preference still would be to give the student all the information at once. I would feel very stupid having to submit e.g. 5 iterations because the comments came one ofter

[2019-03-30 14:34] tehsphinx commented on #28
One more note: I have seen students (2 or 3) snap at their mentor because they came with another thing to improve on the 5th iteration. Their argument was: If you would have told be from the beginning it would be fine, but not on the 5th iteration!

[2019-03-30 14:46] tehsphinx commented on #29
Currently I don't do anything automatic on variable names and I think it would be really hard to do something about it automatically. The only thing I could think of is to have a list of allowed variable names -- as you suggest -- and if the variable is not on the list, give it to a mentor to judge.

In Go there are some rules about naming. For example underscores are not allowed. `golint` will ca

[2019-03-30 14:51] tehsphinx commented on #31
I think there are still some general rules about indentation for example. Not indented blocks of code are a "no go" in any language.

[2019-03-30 16:35] kotp commented on #28
The snap about changes on the 5th iteration may not be appropriate, as in the 1st or 2nd iteration, you may be guiding them to finally get to that point in the 5th iteration to be able to make the change that appears in the 6th.  Leap year can be like this, where you want to guide them to the point, but you want them to learn why, and finally, something clicks in place to be able to get to that so

[2019-03-30 16:46] ErikSchierboom commented on #28
Personally, I usually like the "one comment at a time" approach. Focus on one thing, and fix that. I do admit that this is probably not what everyone prefers though, which is why I created this issue.

[2019-03-30 16:50] SleeplessByte commented on #28
I would personally not even ben on any mentored track if I'd only got to fix one thing to fix each time, but that's mainly because of the _time_ inbetween. If I get an auto-mentored response within minutes, that _would_ change my feeling.

[2019-03-30 16:55] ErikSchierboom commented on #28
Precisely. And that is why I feel thank we should at least consider returning just a single comment.

[2019-03-30 16:59] SleeplessByte commented on #31
Actually that's not true. There are languages where whitespace is significant, and thus indentation is mandatory, there are languages where whitespace is not, but it's generally agreed upon that you need indentation, but there are also languages where whitespace is _at will_ and there is not good rule around it.

II don't think there is a good way to enforce / analyze this in JavaScript or TypeScr

[2019-03-30 17:01] SleeplessByte commented on #29
Yes, the same for JS and TS! I do catch names starting with `underscores`, mainly because their IDE most likely will mark it as "ignore if unused", which might bite them in the behind. So I'll comment on that, with the analyser as well.

Off topic: thank you, as a beginner in Go I actually learned something today :heart:

[2019-03-30 17:02] SleeplessByte commented on #28
I would still suggest we group some of the comments that are similar; but yes. If the analyzing is _almost synchronous_, I can see single-ish commentary being a possibility.

[2019-03-30 18:40] tehsphinx commented on #28
I feel we are talking about the edge cases here where actually one comment after another does make sense. To get away from the edge cases let me bring a typical example from Go `twofer`:

An actual students solution:
[code]

If I was the student I would really feel annoyed if I got the comments to it in 3 steps:

- to check if a string in Go is empty you can just do `name == ""`. A string in Go ca

[2019-03-31 15:49] tehsphinx commented on #28
I just don't think we can make a general rule...

[2019-03-31 16:08] ErikSchierboom commented on #28
Well, I still think we should try :) Returning just one comment or returning many comments are completely different experiences for the student. In essence, we should be doing what is best for the student, which is why I'm really interested in hearing @kytrinyx, @iHiD and @F3PiX's thoughts.

[2019-03-31 18:04] rfilipo opened #34 "[New Analyzer] Perl5"
I'm a mentor and maintainer of Perl5 track.
About me:
[Monsenhor resumé](http://kobkob.org/monsenhor/)

Very excited on this matter, I began a WIP analyzer prototype for Perl5 at:
[perl5-analyzer](https://github.com/rfilipo/perl5-analyzer)

It uses "Perl::Critic" as the framework for testing and analyzing codes. Each exercise will implement a new policy with possible specifications, comments, viol

[2019-03-31 21:51] kotp commented on #29
As a mentor, I don't accept `input` because that describes the functions/methods at the program language level.  Unless the exercise is about implementing that behavior for the language, of course, and then "input" describes exactly what is needed.

[2019-04-01 02:54] pgaspar commented on #21
What does "failure" look like here? No `analysis.json` is written?

[2019-04-01 03:10] pgaspar commented on #29
I also try to at least mention variable names such as `input`, `str`, `n`, etc and ask students if they can come up with something more appropriate to the specific problem they're solving.

With some analysis of existing solutions we should be able to get a list of the most used variable names and extract some conclusions out of that. Personally I think if anything we should have a list of rejecte

[2019-04-01 07:14] tehsphinx commented on #21
I thought we specified it somewhere to mean: exit code unequal to zero.

But now I can't find that anywhere in the interface definition @iHiD.

[2019-04-01 10:58] SleeplessByte commented on #29
I don't think we should _ever_ **reject** a solution based on a shitty variable name. We're not CodeClimate -- does it teach a student fluency in a language?

I comment often on variable names ("x is not descriptive", "seems like y is meant to be ageOnEarth") and usually the students will change it, but never do I not approve it.

[2019-04-01 10:59] SleeplessByte commented on #28
Well , perhaps there is a midway where we have a rule _per language_?

[2019-04-01 11:45] ErikSchierboom commented on #31
I like this!

[2019-04-01 11:45] ErikSchierboom commented on #28
That is an option!

[2019-04-01 12:11] tehsphinx commented on #31
@SleeplessByte Sure, I am aware of that. Have been programming with languages like these for 20+ years (yup... i'm that old).

Talking here about no indentation at all (which I have seen in solutions) or inconsistent indentations (which happens even more often). I know it will be hard but if possible (with reasonable effort) I think it should be caught.

Maybe it is even possible to create an algo

[2019-04-01 12:22] iHiD commented on #31
[This](https://github.com/exercism/ruby-analyzer/blob/master/lib/analyzers/two_fer/analyze.rb#L188) is currently what we're doing for Ruby.

I think the following is the general guidance, but this is a perfect example of what I want from our slack discussion later. Bring some complex examples for us to discuss :)

- If it's a rule in a language, we enforce it as a rule (e.g. Go/Ruby)
- If there's

[2019-04-01 13:03] kotp commented on #29
@SleeplessByte exactly.  I don't reject it.  I just don't accept it without comment.

[2019-04-01 17:19] pgaspar commented on #29
Good points @SleeplessByte :+1: Maybe my wording on "rejected names" was not on point. Maybe "sub-optimal names" is more accurate - as in a list of names we know are not the best choices for the problem. I agree we shouldn't disapprove on that alone though.

[2019-04-01 17:23] SleeplessByte commented on #11
This is now in #27 and merged, so I think this can be closed? Perhaps further discussion about the structure in `website-copy` etc could be in a new issue?

[2019-04-01 17:53] ErikSchierboom opened #36 "Analyze directory should contain same files as exercism download command"
When analyzing a solution, its directory should contain the same files as the `exercism download` command.

[2019-04-01 18:37] #11 closed, assigned to nobody

[2019-04-01 22:45] Smarticles101 commented on #23
@exercism/cornell-cs5152-2019 I just uploaded an initial implementation of the two-fer analyzer at https://github.com/exercism/java-analyzer. If y'all have any improvements could you pr those? Feel free to radically redesign stuff if you feel like ;)

[2019-04-02 17:22] NobbZ opened #37 "[New Analyzer] Erlang"
I'd like to create an analyzer for erlang.

I'm currently the maintainer of the erlang track and a mentor as well.

I already developed a small testing tool for erlang which enhences the standard testing tool a little bit, such that we are able to adhere to some of the exercism specialties, like the example file.

I planned to extend this tool to also issue some generic lints, but failed to integr

[2019-04-02 18:02] iHiD commented on #37
Thanks @NobbZ. That's exciting.

Analyzer here for you: https://github.com/exercism/erlang-analyzer and I've sent you the two-fers on Slack :)

[2019-04-02 18:02] #37 closed, assigned to nobody

[2019-04-03 07:02] ErikSchierboom commented on #36
@iHiD I'm currently (again) backing down on adding C# compilation, as I think the syntactic analysis will be enough once we get the tests running first. So I'll close this.

[2019-04-03 14:25] tehsphinx opened #38 "Comments and States"
Sorry if this is kind of late... Here a few points I think the current interface definition still lacks.

1) I think we should never "let the student go" without a comment. If there is nothing to improve on the solution we can still give them valuable advice e.g. in the form of a pointer to further reading. This is the undisputed No 1 positive feedback we get from students on the Go track where we

[2019-04-03 14:31] tehsphinx commented on #38
@iHiD let me know if you want me to separate this into 2 issues

[2019-04-03 22:13] iHiD commented on #23
I'm closing this due to fact I've created the repo and there's not an active discussion :)

[2019-04-03 22:13] #23 closed, assigned to nobody

[2019-04-03 22:18] iHiD commented on #34
Done here: https://github.com/exercism/perl5-analyzer - you have write access. Thanks and have fun! :)

[2019-04-03 22:18] #34 closed, assigned to nobody

[2019-04-03 22:22] iHiD commented on #38
@tehsphinx This is all great. Thank you! We'll use it in our internal product-dev conversations about how we display comments to students, which is something that needs a lot of thought/work.

It's worth me reiterating that for the first cut of all this, the only state we will honour is `approve_as_optimal`. We will not be returning messages until we have done a wad of product-dev on that. So for

[2019-04-04 10:41] SleeplessByte commented on #36
Actually @ErikSchierboom  and @iHiD ,

As mentioned earlier on Slack, it would be helpful to get the `package.json` at the correct sha of the state of the exercise of the student, at time of the submission, because it will hold the current version. It's better than getting the sha directly, because we would need to keep track of an internal mapping (and therefore can not apply `semver` directly).

[2019-04-04 14:55] tehsphinx commented on #38
Looking forward to all those discussions :)

[2019-04-04 15:07] tehsphinx opened #40 "Initial checking of every automated answer"
I'd be happy to get a notification on every single solution the `go-analyzer` does something to until I feel good about it performing correctly.

Some ideas:
- only get notifications when it was applied to the exercise
- get notification on every solution the with the result of the analyzer
- in exercism.io notifications
- or per mail

Bonus would be if I was able to filter this by exercise and st

[2019-04-04 15:41] iHiD commented on #40
I think we need a section on the website for this where you can access solutions and data (including analysis.json and analysis.out), and filter by these things.

[2019-04-04 16:36] Smarticles101 commented on #40
A section on the website would be great. Some stats about performance and fail rate would be great too.

[2019-04-05 07:51] NobbZ opened #41 "Dockerfile and entrypoint"
In the `docs/interface.md` it is stated:

In the contaext of the orchestrator is using `docker` to orchestrate, I think this might lead to non-idiomatic usage of docker.

Instead I think, the `Dockerfile` should provide an entrypoint, which is set up to handle the arguments in the specified way.

Then I could do eg this for the erlang-analyzer:

[code]

Asuming the orchestrator does a `docker run`

[2019-04-05 07:55] NobbZ commented on #41
Addendum: If we adhere to this rule, then this puts me close to a position, where I could do a final `FROM scratch` stage.

To achive that final goal, I had to do some architectural changes, but it should be possible as a mid to long term goal.

[2019-04-05 07:59] tehsphinx commented on #40
That would be much better of course if it is not much more work.

[2019-04-05 08:10] tehsphinx commented on #41
Have you seen https://github.com/exercism/automated-mentoring-support/blob/master/docs/docker.md?

Also note my dismissed PR for an ENTRYPOINT in the docker file: https://github.com/exercism/automated-mentoring-support/pull/33

[2019-04-05 08:22] NobbZ commented on #41
Yes, I have read the `docker.md` as well, but it did not answer anything of my points, but pointing me to it here, might show, that current docs are a bit cluttered ;) eg. in the `docker.md` there is no hint whether `analyze.sh` is called by fully qualified path, or relative from the working dir. Especially the mentioning of setting `WORKDIR` correctly, makes me assume that actually `bin/analyze.s

[2019-04-05 11:33] tehsphinx commented on #41
A PR would be helpful. I already created one for `interface.md` to point to `docker.md` instead of providing half the information.

More explanation in `docker.md` would be good. I agree.

[2019-04-12 08:44] SleeplessByte commented on #29
I think this is now covered by #39

[2019-04-12 08:46] SleeplessByte commented on #28
I think this is now covered by #39

The consensus is:
- the amount doesn't matter,
- it will depend on the product team discussion results in terms of what will be displayed
- they should always attempt to guide a student from a disapproved state to approved state

[2019-04-12 09:06] ErikSchierboom commented on #28
I agree.

[2019-04-12 09:06] #28 closed, assigned to nobody

[2019-04-12 09:06] ErikSchierboom commented on #29
Agreed.

[2019-04-12 09:06] #29 closed, assigned to nobody

[2019-04-22 12:44] SleeplessByte commented on #31
I think this is covered by #39

[2019-04-29 10:46] iHiD opened #44 "Deploying analyzers for approving Two-Fer"
Hello everyone.

This is the tracking issue for deploying the analyzers. When your analyzer has TwoFer auto-approving, and you have a Dockerfile in your repo that you're happy with, please add a comment here and @ccare will get it live :)

**Update:** Please could you also PR to https://github.com/exercism/analyzer-orchestrator/blob/master/lib/orchestrator/analyze_iteration.rb#L3 with which exerci

[2019-04-29 15:02] tehsphinx commented on #44
adding a comment here 😃

[2019-04-29 20:10] Smarticles101 commented on #44
Dropping a comment for java :)

[2019-05-14 12:27] ZapAnton opened #45 "[New Analyzer] Rust"
I'd like to create an analyzer for Rust.

I have developed a [basic prototype](https://github.com/ZapAnton/rust-analyzer), that conforms to the Interface and does a primitive analysis of the `reverse-string` exercise (basically compares the solution with the prepared AST).
The `reverse-string` exercise was chosen instead of `two-fer`, because `two-fer` was [deemed unsuitable for the track](https:/

[2019-05-20 14:17] iHiD commented on #45
@ZapAnton Great! :)

I have:
- Created https://github.com/exercism/rust-analyzer
- Invited you to a [team for it](https://github.com/orgs/exercism/teams/rust-analyzer)
- Sent you data on Slack

[2019-05-20 14:17] #45 closed, assigned to nobody

[2019-05-27 16:21] SleeplessByte opened #46 "Analyzer input versioning"
Separated from https://github.com/exercism/automated-mentoring-support/issues/36#issuecomment-479845734

The _lowest_ we can support is getting the input exercise `git sha` and manually build a version mapping. This can be provided:
- as an input argument (`--sha="abcdef"`)
- as a file (`.git/version` or similar)

Better ways:
- provide the track specific version file (e.g. `version`, `package.jso

[2019-05-27 16:26] SleeplessByte opened #47 "Analyzer output/deploy versioning"
Separated from https://github.com/exercism/automated-mentoring-support/issues/36#issuecomment-479845734, mentioned by Richard Leurs: https://exercism-team.slack.com/archives/CFMEG1H0C/p1558970332023800

An intermediary way to supposrt this is getting the analyzer `git sha` when building / deploying an analyzer. This would then show up in the analyzer output.

Preferably we have something like that

[2019-05-27 20:35] tehsphinx commented on #47
My suggestion:
- tag versions with git tags
- use git tags in build process to "build" it into the analyzer
- only deploy if version tag is present
- semver version tags (e.g. `v0.2.14`) -- `git sha` not necessary if we use git tags.
- analyzer should add its version to the output `analysis.json`. Creating a new file for this complicates things IMO.
- we need to be able to see which version analyz

[2019-05-27 20:38] tehsphinx commented on #46
I like this one most as it keeps the effort and the dependencies in all the analyzers small.

If no version is provided, the newest should be assumed.

[2019-05-27 21:01] SleeplessByte commented on #46
Yes!

[2019-05-30 11:11] SleeplessByte commented on #44
JavaScript is here: https://github.com/exercism/javascript-analyzer/blob/master/Dockerfile

[2019-06-04 06:08] ZapAnton commented on #44
Adding a comment for Rust, `reverse-string` exercise (https://github.com/exercism/rust-analyzer/blob/master/Dockerfile)

[2019-06-04 11:47] SleeplessByte commented on #44
TypeScript is also here: https://github.com/exercism/typescript-analyzer/blob/master/Dockerfile

[2019-06-04 12:21] iHiD commented on #44
@Smarticles101 @SleeplessByte @ZapAnton I've added y'all to the list above. Should get done Thus/Fri this week. Please could you also PR to https://github.com/exercism/analyzer-orchestrator/blob/master/lib/orchestrator/analyze_iteration.rb#L3 with which exercise(s) are going live. Please keep the array alphabetical. Thanks :)

[2019-06-04 12:37] SleeplessByte commented on #44
https://github.com/exercism/analyzer-orchestrator/pull/13 added `java`, `javascript`, `rust` and `typescript`.

cc @Smarticles101 @ZapAnton

[2019-06-04 12:44] iHiD commented on #44
@SleeplessByte You're going to hate me but any chance you could do them as seperate PRs please? As then we can deploy and test each one in turn. Sorry!

[2019-06-04 14:14] SleeplessByte commented on #44
Haha don't hate it. Easy enough.

https://github.com/exercism/analyzer-orchestrator/pull/14
https://github.com/exercism/analyzer-orchestrator/pull/15
https://github.com/exercism/analyzer-orchestrator/pull/16
https://github.com/exercism/analyzer-orchestrator/pull/17

[2019-06-05 19:46] TreyAguirre commented on #44
Python is here: https://github.com/exercism/python-analyzer/blob/master/Dockerfile

[2019-06-09 14:28] SleeplessByte commented on #16
JavaScript now has this as 📸 snapshot tests:

- https://github.com/exercism/javascript-analyzer/blob/master/test/analyzers/two-fer/snapshot.ts
- https://github.com/exercism/javascript-analyzer/blob/master/test/analyzers/resistor-color/snapshot.ts

Instead of manually generating these "cases" files, this generates a snapshot of the state once, and then compares it in perpetuity. The documentation i

[2019-06-18 15:26] PierreLeresteux opened #50 "[New Analyer] Kotlin"
As a Kotlin mentor, I see the pending queue growing ... So I decide to replace a part of my "job" (not a job, maybe more a mission ... ) by using an auto-mentoring application.

I use Kotlin and wrote a POC using arrow (functional programming) to have a modular application for all exercice (two-fer for the moment it would be great !!)

I think for the two-fer (only approve_optimal) it's done @80%

[2019-06-18 17:12] iHiD commented on #50
@PierreLeresteux Great! :)

- I've added you to an exercism team - you should have an invite.
- Once you accept that you should have write access to https://github.com/exercism/kotlin-analyzer
- Message me on Slack if you want sample solutions to test against.
- Follow the instructions here when you're ready to deploy: https://github.com/exercism/automated-mentoring-support/issues/44

[2019-06-18 22:25] iHiD opened #51 "CI for comments"
I would like each analyzer to have a CI check that compares the comments used in the analyzer repo to the comments on master in website-copy. It should fail if any of the comments used in the analyzer are not in website-copy (ie, website-copy changes have to go down first).

If we agreed config for the analyzers, I think we could write one CI "bot" that would work for all the analyzers. I'm thinki

[2019-06-19 06:54] tehsphinx commented on #51
A backup strategy would be good. The website could e.g. set a failed pipeline status on https://exercism.io/mentor/analyses/ if an unknown comment was provided by the analyzer.

[2019-06-19 07:19] tehsphinx commented on #51
Also I'm wondering how not to duplicate my comment lists. A CI check could be done or the comments file be generated but even better would be if the file could be the configuration for the comments. It could then be used in a way that the analyzer fails if a comment is missing in the file.

A suggestion for the file format (one entry per line):
[code]
or for analyzers without config attached to th

[2019-06-21 22:20] PierreLeresteux commented on #44
I think I have a first version of the Kotlin Analyzer (two fer - approve optiomal/with comments/disapprove/refer to mentor) ...
Next week I'll be OFF, so maybe it's better to wait ... I'm ok if someone will review

[2019-06-23 15:44] SleeplessByte commented on #44
@PierreLeresteux invite me and I'll review :)

[2019-06-24 07:06] PierreLeresteux commented on #44
Don't know how to do this (and not sure to have necessary rights ! ) ... Project is already in exercism github team : https://github.com/exercism/kotlin-analyzer

[2019-06-24 07:31] NobbZ commented on #44
@PierreLeresteux to invite someone to review, you need to create a PR and use the right side menu to request review.

Especially for the docker file you are not allowed to merge without a review by @ccare once your analyzer has got deployed and activated.

[2019-06-24 07:54] PierreLeresteux commented on #44
Like I said : I'm OFF this week... I'll try to do this next week :smiley: Thanks

[2019-06-24 08:12] NobbZ commented on #44
That's totally fine, take your time. I'm just answering now, because I'm not off this week and would forget to write if I were waiting to write.

Holen Sie sichOutlook für Android<https://aka.ms/ghei36>

________________________________
From: Pierre Leresteux <notifications@github.com>
Sent: Monday, June 24, 2019 9:54:39 AM
To: exercism/automated-mentoring-support
Cc: Norbert Melzer; Comment
Subje

[2019-06-24 08:48] SleeplessByte commented on #44
@PierreLeresteux enjoy your time off! I will review this and put the commentaries in an issue.

[2019-06-24 22:33] SleeplessByte commented on #50
cc myself because I need to review the code per Pierre's request.

[2019-06-24 22:38] SleeplessByte commented on #51
If we really want to check if the commentary is _not-breaking_, we really need to check more than one thing:

- all identifiers the analyzer wants to use needs to be present @ `website-copy`
- the parameters that the `website-copy` has need to be outputted at minimum by the analyzer

The latter is a reverse check. It's okay if the analyzer outputs MORE parameters, unless you want to be more strict

[2019-06-25 13:17] iHiD commented on #50
I'm closing this issue :)

[2019-06-25 13:17] #50 closed, assigned to nobody

[2019-06-25 16:09] iHiD opened #53 "Tweak statuses"
We're soon to add approve_with_comment to the website. Once we do that I don't see much point in having the two different approve statuses. I suggest we refactor to `approve` and `disapprove`. Thoughts?

[2019-06-25 16:14] yawpitch commented on #53
That'd make sense to be if "approve" had a parameter for "is_optimal" or something similar.

[2019-06-25 16:15] SleeplessByte commented on #53
We'll lose the ability to branch logic later; even though approve_with_comment can be determined by looking at... comment_count > 0. (Think about filtering, or statistics, etc. They all become harder without the distinct statuses)

[2019-06-25 16:15] iHiD commented on #53
@yawpitch Does it need it? Or can we just leave comments blank. The website won't **do** anything different depending on whether it's optimal or not.

@SleeplessByte Are they distinct statuses though? Or are they just statuses we've invented for the convenience of being able to roll one thing out before the other?

[2019-06-25 16:37] yawpitch commented on #53
The comment being blank isn’t quite enough, since the comment is currently optional with approve_as_optimal, mandatory with approve_with_comment. I can see plenty of situations in which an optimal solution _might_ benefit from a comment, but still be optimal.

Plus I could see plenty of benefit of trolling these retroactively for stats.

Also, side note, but are we encoding anywhere what version o

[2019-06-25 16:42] iHiD commented on #53
The problem is that the definition of `approve_as_optimal` is "any approval without a comment`. If there's an optimal solution with a comment, then it's not optimal (by the existing definition).

I'm just not convinced that there's a real different between optimal and not-optimal in any useful way. At least, I can't think of one.

No. See https://github.com/exercism/automated-mentoring-support/iss

[2019-06-25 16:53] yawpitch commented on #53
That definition contradicts the Guidelines:

As for the difference, it’s mainly statistical. Plenty of things will get approved that are far from optimal, knowing how many meet the optimal threshold (and especially how many get there after how many rounds) would potentially be very helpful.

Like on Python for `two-fer` there are four potential “approve” solutions, only two of which are “optimal”.

[2019-06-25 17:56] tehsphinx commented on #53
At some point I plan to add the random tips we have in `exalysis` to the `go-analyzer`. Then a student will get a random tip on further resources as soon as they get an approval. That means that I will never approve without a comment any more. There will always be at least the random tip.

We will then not be able to determine `approve_as_optimal` from `len(comments) == 0`. And this will also not

[2019-06-25 19:06] ErikSchierboom commented on #53
Then it is not optimal in my mind :)

Personally, I think merging the two makes sense, as it maps most fundamentally to what is actually happening on the website. The distinction between approve as optimal and approve with comment will only be useful for us, maintainers I feel. As my currently C# analyzer conforms to `len(comments) == 0` means `approve_as_optimal`, to me this change is perfectly f

[2019-06-25 21:06] yawpitch commented on #53
In Python both of the following are optimal:

[code]

The first uses **str.format** and the comment might be to consider the use of _f-strings_ as shown in the second. The second uses _f-strintgs_, but the comment might be to be wary of using them for any string that might need to be internationalized, since they're eagerly-evaluated.

Both are entirely optimal; in both cases the student benefits

[2019-06-25 21:18] tehsphinx commented on #53
Another sample from Go where a `approve_as_optimal` solution gets a comment and therefore is currently not approved automatically:

[code]

This is a perfect solution for `twofer` in Go. Still we make a comment to point to the `fmt` package in case the student does not know about it. The `fmt` package would be used to do interpolation but in comparison is a lot slower as the format needs parsing.

[2019-06-25 21:29] iHiD commented on #53
There's a few different conversations here I think:

I'm talking about merging the statuses once `approve_with_comment` is honoured. Sorry if that wasn't clear.

Yes, this is the same as Ruby, and so both would get a `approve_with_comment`.

I love this, but I wouldn't want it to come via analyzers - I'd want us to implement another system for this that looked at which tips students had, and recom

[2019-06-25 21:32] SleeplessByte commented on #53
I think one of the arguments to _keep_ the two statusses is if we want to keep the interface as is but display `tips` differently from `comments`.

Does that make sense?

Well, if we keep them, we probably want to change `approve_as_optimal`'s spec to be OKAY to have commentary.

On the other hand, we can change the spec and output format to have `tips:` or something similar to accomplish this. So

[2019-06-25 21:35] iHiD commented on #53
That's a nice way of saying this @SleeplessByte. I like the idea of seperating out tips (but let's not do it yet! - babysteps :))

[2019-06-25 21:39] SleeplessByte commented on #53
In that case, merging is fine. I can't think of a reason not to merge.

[2019-06-25 21:44] tehsphinx commented on #53
@iHiD, @SleeplessByte: agree with removing the separation. Makes my code simpler 😄

[2019-06-26 08:48] ErikSchierboom commented on #53
Same here :) I'm also in favor.

[2019-06-26 08:50] ErikSchierboom commented on #47
I like the suggestions made by @tehsphinx!

[2019-06-26 09:13] F3PiX opened #54 "Approvables in Ruby"
@iHiD

Per your request, here are the approvables for Acronym.
(Note that Acronym is not meeting all the requirements for a Level 1 exercise, (it's controversial, and it requires too many iterations to get it right), so when I find a better candidate it will move up in the track.)

- Things that will be addressed later in the track, not on this level:
  - `class` or `module` : both approvable with

[2019-06-26 10:30] F3PiX opened #55 "Approvables in Ruby: High Scores"

[2019-06-27 03:19] ricemery commented on #44
I have Scala - two-fer analyzing...
https://github.com/exercism/scala-analyzer/blob/master/Dockerfile

[2019-06-27 13:51] #53 closed, assigned to nobody

[2019-06-27 19:05] verdammelt opened #57 "Analyzer for Common Lisp"
Hello, I am Mark Simpson, the author, maintainer, and (maybe only) mentor of the Common Lisp track.

I'd like to experiment with an analyzer to see if it could automate some of my most common responses to exercises.

Parsing the AST of the language is simple - since programs are written in that AST itself :)

I am reviewing the [docs](https://github.com/exercism/automated-mentoring-support/tree/ma

[2019-06-27 22:45] iHiD commented on #57
Hi Mark. You have write access to https://github.com/exercism/common-lisp-analyzer :)

[2019-06-27 22:45] #57 closed, assigned to nobody

[2019-06-27 22:46] iHiD commented on #57
This is so depressing for the rest of us!

[2019-06-28 01:17] verdammelt commented on #57
@iHiD Thanks.

So after I create a `Dockerfile` and a `bin/analyze.sh` how to do i go about checking how it is working? How does it go from being my little toy to something actually running in production? I'm sure I'll have problems getting the Dockerfile correct -how do I see the failed attempts?

[2019-06-28 05:00] NobbZ commented on #57
We other maintainers would help you with the dockerfile, in the most cases it is just a very thin wrapper around your compiled binary or scripts.

And to test the docker image, just play around with it using `docker run`. You will get (if you haven't already) some example solutions from the database to play with.

[2019-06-28 05:43] emcoding opened #59 "Advice for autocomment"
See Ruby/TwoFer: https://github.com/exercism/website-copy/pull/1121

For the first exercises on a track, here's my advice for commenting.

1) Name the difference between what the students is doing, and what is 'idiomatic' in the language.
2) Use the proper terms, so students can recognize those concepts elsewhere. And can research them by themselves.
3) Don't give the solution, but also don't expl

[2019-06-28 12:25] iHiD commented on #57
@verdammelt Also, when you feel you're ready, you can comment [here](https://github.com/exercism/automated-mentoring-support/issues/44) and @ccare will try deploying it and feed back any issues. He can then work through things through with you on Slack in real-time.

If you 1-1 me on Slack I'll send you some files.

[2019-06-28 12:42] kytrinyx commented on #59
This are great recommendations when it comes to mentoring the first few exercises on a track.

I would also add: keep it relatively short, avoiding a wall of text or overwhelming them with advice. If they have a great experience in the first exercise, they'll come back and you'll have many more opportunities to provide feedback on all of the things that you noticed.

[2019-06-28 12:53] verdammelt commented on #57
Thank you all.

[2019-06-28 12:57] kytrinyx commented on #59
I might split up number 3 above, as they seem to be motivated by different things.

"Don't give the solution" is general advice for all Exercism mentoring. Learning sticks when people discover the answer for themselves. That's a tremendously exhilarating experience, and the emotional kick makes it memorable.

"Don't explain the concept" I think is unclear here, but I understand it to mean: "don't

[2019-06-28 13:11] kytrinyx commented on #59
Hm, I have one more thing...

I think this is true in general, but only if the discovery actually would trigger a dopamine hit. So in the case of ruby concatenation, I think showing what it looks like makes total sense. I really mean "don't give the solution" if there really is some discovery that can be made or some thinking that needs to happen. E.g. if someone solves raindrops with all if state

[2019-07-01 22:51] iHiD opened #62 "Upgrade analysers for new comments"
When you're ready to deploy approval + comments, please could you add a comment with a PR that needs to be merged to comply with the latest spec of the analyser with `approve` and comments. If it's already master, pls say that.

- [ ] Ruby
- [ ] Go

[2019-07-01 22:51] iHiD commented on #62
Ruby was this [horrible commit](https://github.com/exercism/ruby-analyzer/commit/4a39f3a25b6ee609243e9eaf785f19661ceae15c).

[2019-07-01 22:57] tehsphinx commented on #62
Go analyzer is ready for `deploy approval + comments` with version `0.4.0`.
That is for exercises `two-fer` and `hamming`. `raindrops` can be enabled, there just won't be any comments created by the analyzer, yet.

[2019-07-02 12:41] ccare opened #63 "whitespace analyzer"
Please specify the track. The most recent tag will be deployed.

[2019-07-02 12:41] #63 closed, assigned to ccare

[2019-07-02 12:42] ccare commented on #63
[this was a dummy]

[2019-07-03 07:58] tehsphinx commented on #51
If I were to do this for the `go-analyzer` this is what I would do:

1. move comment registration with the extra information I need per comment into a registration file with the format I suggested above. (This file gets committed.)
2. refactor the analyzer to read from that file and fail the analyzing if a comment is missing. (That way my `case tests` would fail if a comment is missing since they

[2019-07-03 08:19] ErikSchierboom commented on #62
The C# analyzer is updated for the new statuses and is ready for comments (using the `master` branch). The last thing that needs to be done, is that the comment PRs should be merged:

- https://github.com/exercism/website-copy/pull/1125
- https://github.com/exercism/website-copy/pull/1126
- https://github.com/exercism/website-copy/pull/1127
- https://github.com/exercism/website-copy/pull/1128

[2019-07-03 11:57] SleeplessByte commented on #51
I current do this for `javascript`:

[code]

Now I generate an analysis.out (which can either be handcrafted with ALL the commentary, or actually using fixtures):

[code]

And finally I run the ruby script

[code]

Check the status to be 0.

- Catches parse errors from `analysis.json`
- Catches missing templates in `website-copy/automated-comments`
- Catches missing _parameters_ in the json output

[2019-07-03 15:49] SleeplessByte opened #64 "[Update To Deploy] JavaScript"
https://github.com/exercism/javascript-analyzer/releases/tag/v0.2.0

- [x] https://github.com/exercism/website-copy/pull/1140
- [x] https://github.com/exercism/website-copy/pull/1141
- [x] https://github.com/exercism/website-copy/pull/1142
- [x] https://github.com/exercism/website-copy/pull/1143
- [x] https://github.com/exercism/website-copy/pull/1146
- [x] https://github.com/exercism/website-copy

[2019-07-03 17:51] SleeplessByte commented on #62
(already on master) #64

[2019-07-03 22:29] jmrunkle opened #65 "[Update To Deploy] Java"
Please specify the track. The most recent tag will be deployed.

java-analyzer has been updated with "approve" comments

[2019-07-04 09:42] ccare commented on #65
Fantastic, thanks!

When you get a second, would you be able to help me find some example solutions that we can run-through? - I'd like to do an end-to-end smoke test before we replay lots of solutions through the commenting version.

[2019-07-04 09:42] ccare commented on #64
Thank you @SleeplessByte.

When you get a second, would you be able to help me find some example solutions that we can run-through? - I'd like to do an end-to-end smoke test before we replay lots of solutions through the commenting version.

Thanks!

[2019-07-04 10:22] ccare commented on #65
Looks like we have a glitch with some of the comment copy... https://exercism.io/mentor/analyses/7281

[2019-07-04 12:31] ccare commented on #65
From what I understand, it looks like we either need to rename this file https://github.com/exercism/website-copy/blob/master/automated-comments/java/two-fer/use_ternary_operator.md to `use_ternary_expression` or change the reference in the analyser.

[2019-07-04 15:49] ccare commented on #64
It's all working really well. I need to check one or two things, then I'll reprocess the outstanding twofers.

[2019-07-04 16:21] ccare commented on #64
I'm closing this because I think we're there now. I did reprocess the backlog but most of the reprocessed ones have (unsurprisingly perhaps) not been immediately approved (they're mainly disapprove with comments now), but we can keep re-processing the backlog as the analyzer evolves.

Thanks @SleeplessByte !

[2019-07-04 16:21] #64 closed, assigned to ccare

[2019-07-04 16:44] jmrunkle commented on #65
Doh, you are correct. Let me send a PR to fix the analyzer (since the "operator" is probably more correct here).

[2019-07-04 17:15] jmrunkle commented on #65
https://github.com/exercism/java-analyzer/pull/15 - once that goes in this should be good to go

[2019-07-05 09:02] ccare commented on #65
Thanks!

[2019-07-05 13:03] SleeplessByte opened #66 "[Update To Deploy] JavaScript"
https://github.com/exercism/javascript-analyzer/releases/tag/v0.3.0

This specifically approves `gigasecond` with and without comments.

- [x] https://github.com/exercism/analyzer-orchestrator/pull/23
- [x] https://github.com/exercism/website-copy/pull/1152

[2019-07-05 19:35] ccare commented on #66
Hi @SleeplessByte ,

Having some problems building the release candidate.

[code]

[2019-07-05 19:44] ccare commented on #65
All sorted and deployed. Thanks. Seen a couple go well. I'll reprocess the backlog in a bit.

[2019-07-05 19:45] ccare commented on #65
Actually I'll probably do that another day. It's getting late here. I'll leave this open to remind me, but thanks @jmrunkle !

[2019-07-05 19:59] jmrunkle commented on #65
Thank you @ccare - glad we could get this going.

[2019-07-05 20:18] ccare commented on #65
We were up deploying a new logging feature anyway, so I did push the queue through. Backlog is now down from 72 to 44, and mostly approvals from what I can see. That's saved a huge chunk of mentor time.

[2019-07-05 20:18] #65 closed, assigned to ccare

[2019-07-05 22:06] SleeplessByte commented on #66
Interesting. For some reason the snapshots haven't updated. I'll regenerate them and up the tag!

[2019-07-05 22:16] SleeplessByte commented on #66
https://github.com/exercism/javascript-analyzer/releases/tag/v0.3.1 fixed!

(P.S. this was supposed to fail; CI is not up yet, and as per `debian` standard packages/make file guidelines, it's running the tests after build).

[2019-07-06 06:20] ccare commented on #66
Thanks @SleeplessByte, it builds now. I'll properly deploy it when I have some time, might not be until Monday though.

I think it's great that it's running the tests in the stage, I want to do more integration tests at this point too.

Thanks!

[2019-07-06 15:31] ricemery opened #67 "[Update To Deploy] Scala"
Scala Track - updates to support disapprove comments for two-fer.

https://github.com/exercism/scala-analyzer/releases/tag/v0.1.2

https://github.com/exercism/website-copy/pull/1148

[2019-07-06 15:49] iHiD commented on #67
Thanks :) It's worth noting that we won't honour disapprove comments for the next few weeks. But we can safely release this anyway.

[2019-07-07 12:23] tehsphinx opened #68 "auto-mentoring after approval"
Currently there is **no acknowledgement or feedback** of any kind if a solution was auto-approved (with or without comments) and then a new iteration was added by the student.

Especially if it was auto-approved with comments, this leaves the student **un-mentored in their effort to improve the solution** further.

We already had a short discussion on slack on this subject. My take on things is:

[2019-07-07 16:43] ZapAnton opened #69 "[Update To Deploy] Rust"
Asking to deploy the `v0.4.0` version of the `rust-analyzer`.

[2019-07-08 13:51] ccare commented on #66
Deployed and working. I'll replay the backlog in a bit.

[2019-07-08 13:55] SleeplessByte commented on #66
EXCITING

[2019-07-08 13:56] SleeplessByte commented on #66
https://exercism.io/mentor/analyses/8438 is correct!

[2019-07-08 14:00] ccare commented on #66
Fantastic! About 110 are on their way from the backlog.

[2019-07-08 14:02] SleeplessByte commented on #66
https://exercism.io/mentor/analyses/8457 is this a template error?

[2019-07-08 14:04] SleeplessByte commented on #66
~Ah https://github.com/exercism/website-copy/pull/1153 and the gigasecond specific ones have not been merged yet :P :P~

jk, it's something else, but debuggin now. I think there is an error in the template, but I have a tool to test them, so running it now! 👍

So this is supposed to error :)

[2019-07-08 14:07] ccare commented on #66
right. Phew!

[2019-07-08 14:14] SleeplessByte commented on #66
So far I can tell that the ones that should get comments get the correct comments :)

[2019-07-08 14:19] SleeplessByte commented on #66
[code]

Hah. `const.name` is missing. So yeah, this _is_ supposed to fail.

[2019-07-08 14:29] ccare commented on #66
Fantastic. I'm closing the issue then. Thanks @SleeplessByte

[2019-07-08 14:29] #66 closed, assigned to ccare

[2019-07-08 14:32] SleeplessByte commented on #66
FYI, this is the fix to make those work: https://github.com/exercism/website-copy/pull/1156

ALL other comments are going through and not erroring :)

[2019-07-08 14:37] ccare commented on #67
Thanks @ricemery, the analyzer should now be live. I did a quick smoke test and it looks good.

[2019-07-08 14:38] #67 closed, assigned to ccare

[2019-07-08 14:43] ccare commented on #69
Done. All looks good, I've seen it refer with comments nicely.

Thanks @ZapAnton !

[2019-07-08 14:43] #69 closed, assigned to ccare

[2019-07-08 14:49] ricemery commented on #67
Thanks!

On Mon, Jul 8, 2019 at 7:37 AM Charles Care <notifications@github.com>
wrote:

[2019-07-12 10:50] ZapAnton opened #70 "[Update To Deploy] Rust"
Asking to deploy the `v0.4.1` version of the rust-analyzer.

[2019-07-12 16:40] ccare commented on #70
Deployed - the `rust.reverse-string.suggest_removing_extern_crate` comment key is being returned now.

Thank you!

[2019-07-12 16:40] #70 closed, assigned to ccare

[2019-08-10 14:50] tehsphinx opened #71 "[Update To Deploy] Go v0.4.2"
Update to `Go` analyzer.

This adds (more) comments to `raindrops` exercise and should approve a lot more exercises.

This depends on the comments being merged into `website-copy` first:
- [x] exercism/website-copy#1216

[2019-08-13 16:32] iHiD commented on #71
@ccare This can be deployed now.

[2019-08-15 03:21] ricemery opened #72 "[Update To Deploy] - Scala"
Please deploy the Scala Analyzer. The analyzer has been updated to support the leap exercise.
The version to deploy is 0.1.4.

Note that I have not created website copy for this exercise. The "approve" case will never generate any messages to the users. The only messages would come from - refer_to_mentor or "disapprove". Will work on creating the content next.

Thanks

[2019-08-15 15:43] ccare commented on #71
This is now deployed - I replayed a couple of sample solutions and I saw a raindrops one change from refer to mentor to approve. So all looking great right now. Thanks @tehsphinx !

[2019-08-15 15:58] ccare commented on #72
I tried this, but after deployment we saw a lot of two-fes change their diagnosis from approve back to refer_to_mentor.

New analyser https://exercism.io/mentor/analyses/16800
Old analyser https://exercism.io/mentor/analyses/16816

I've temporarily switched back to the old implementation.

[2019-08-15 18:54] tehsphinx commented on #71
Looking good.

[2019-08-15 22:18] iHiD commented on #71
Thanks both! I'm closing this for housekeeping :)

[2019-08-15 22:18] #71 closed, assigned to ccare

[2019-08-16 01:27] ricemery commented on #72
Sorry about that @ccare .

I have pushed up some changes that should fix the problem. The new version is 0.1.5.

[2019-08-16 10:21] ccare commented on #72
That's deployed and looking fine now. I'll now enable the runtime to support `leap`

[2019-08-16 10:39] ccare commented on #72
Looking good now, I've replayed a number of existing `leap` solutions and it's all looking great (as far as I can see anyway). Some examples:

- https://exercism.io/mentor/analyses/16994
- https://exercism.io/mentor/analyses/16993
- https://exercism.io/mentor/analyses/16992
- https://exercism.io/mentor/analyses/16991

[2019-08-16 10:41] ccare commented on #72
@ricemery it's all looking good. Thanks!

[2019-08-16 10:41] #72 closed, assigned to ccare

[2019-08-18 22:10] iHiD opened #73 "[Update To Deploy] Ruby v0.0.9"
Once deployed successfully you should be able to rerun [this analysis](https://exercism.io/mentor/analyses/16796) and see the result change from:

[code]

to
[code]

[2019-08-19 09:38] ErikSchierboom opened #74 "[Update To Deploy] C#"
Please deploy the latest C# analyzer. It doesn't use tags at the moment, so the deploy can be made from the `master` branch.

[2019-08-19 18:26] ccare commented on #73
see https://exercism.io/mentor/analyses/17844

[2019-08-19 18:42] ccare commented on #74
Hi @ErikSchierboom , I gave it a go, but when I pushed it live (and replayed a couple of solutions) things just started to fail, so I rolled back.

![image](https://user-images.githubusercontent.com/441154/63290504-6aea7780-c2b9-11e9-9eb3-7b99fab1bd41.png)

[2019-08-19 18:49] ccare commented on #74
Looking at it, it looks like it might be a simple fix, I got this error in the logs

[code]

[2019-08-19 19:41] ErikSchierboom commented on #74
Ah, the shell script did not have an executable bit set. Sorry about that!

I've just pushed a [new commit](https://github.com/exercism/csharp-analyzer/commit/008f6d248538149f413118ccfbc21ccd05d919b1) that fixes this. Hopefully this will solve the issue.

[2019-08-23 21:47] #73 closed, assigned to ccare

[2019-08-23 21:47] #1 closed, assigned to nobody

[2019-08-23 21:48] #31 closed, assigned to nobody

[2019-08-27 13:11] Smarticles101 opened #75 "[Update To Deploy] Java analyzer"
Please deploy the latest Java analyzer on the `master` branch. We've just merged an analyzer for the hamming exercise and will add comments shortly.

[2019-08-28 02:01] jmrunkle commented on #75
May want this to wait until https://github.com/exercism/website-copy/pull/1262 actually goes in otherwise the comments will not be in place.

[2019-08-28 03:15] Smarticles101 commented on #75
no, the comments are updated independently from the analyzer iirc

[2019-08-28 12:12] iHiD commented on #75
Hi both. So the comments need to be in place before the analyzer is deployed, else the analyses will error (due to missing comments). Saying that, erroring doesn't really have massive side-effects. The only real thing is that for disapprove comments, the mentors might not understand why it's being disapproved and what to do if the comments are missing.

[2019-08-28 13:20] jmrunkle commented on #75
Thanks for confirming - that was what I recalled when we were deploying the twofer analyzer.

[2019-08-29 10:27] ccare commented on #74
Hi @ErikSchierboom, sorry for the delay, but I've shipped that and it looks good to me now. Are there any specific examples/solutions I should try and and replay as a smoke test?

Feel free to close this issue if you're happy :)

[2019-08-29 10:28] ccare commented on #75
I've built the image for this, so whenever the comments are merged, it'll be good to release.

[2019-08-29 10:38] ErikSchierboom commented on #74
Awesome! Could you replay https://exercism.io/mentor/analyses/19131?

[2019-08-30 14:22] ccare commented on #74
It looks good to me. Here are the before/after states before the replay.

[code]

[code]

[2019-08-30 14:22] ccare commented on #74
@ErikSchierboom does that mean it's OK now?

[2019-08-30 16:25] ErikSchierboom commented on #74
@ccare Yep, it's ok then!

[2019-08-30 18:46] #74 closed, assigned to ccare

[2019-08-31 04:24] SleeplessByte commented on #75
@ccare good to go! I just merged it in.

[2019-08-31 15:13] jmrunkle commented on #75
Thanks @SleeplessByte - @ccare just update once you release it so that I can check the analyses dashboard.

[2019-09-02 10:35] ccare commented on #75
@jmrunkle I've deployed this, and re-run a few analyses through - all looking good so far (no change or breaks for existing exercises :) ).

There are 30ish hamming iterations that are in a good state to be sent through the analyser, these should provide a good smoke test. However, before that'll work, we'll need a quick PR on here https://github.com/exercism/analyzer-orchestrator/blob/59af78310f8

[2019-09-02 15:38] jmrunkle commented on #75
@ccare Feel free to proceed (I know we are in different timezones anyway). I don't need manual control over when it gets enabled.

[2019-09-02 16:51] ccare commented on #75
Cool! I will let you know how it goes.

On Mon, Sep 2, 2019 at 4:38 PM Jason Runkle <notifications@github.com>
wrote:

[2019-09-03 00:24] jmrunkle commented on #75
Also, is there something we need to do to run it against the existing queue? I assume that is part of the process, but just wanted to be certain.

[2019-09-03 12:27] iHiD commented on #75
@ccare I think you have a script to do this, but let me know if not and I'll put one together for you

[2019-09-04 10:58] ccare commented on #75
There is indeed a script for this... it resides at https://github.com/exercism/scripts/blob/master/publish_batch_to_analyze.rb and very good it is too :)

@Smarticles101, @jmrunkle I've re-run them through, and it's all looking great! Thanks all.

<img width="956" alt="Screenshot 2019-09-04 at 11 53 43" src="https://user-images.githubusercontent.com/441154/64249210-124ae980-cf0b-11e9-8c19-3c38ffa9

[2019-09-04 10:58] #75 closed, assigned to ccare

[2019-09-04 14:47] jmrunkle commented on #75
I just checked it over myself and the analyses seem to be correct. Thanks!

[2019-09-04 15:49] ccare commented on #75
Cool!

On Wed, 4 Sep 2019, 15:47 Jason Runkle, <notifications@github.com> wrote:

[2019-09-04 20:59] iHiD opened #76 "Steps towards automating building, testing and deploying analyzers"
The analyzers are currently build and deployed manually. So far in a significant amount of builds there has been some sort of regression. We are now close to being able to automatically build and deploy analyzers from git tags, and have a plan to add testing into this workflow.

The post acts as a draft proposal and has been written as food for thought. It is locked for now. We will be discussing

[2019-09-04 21:04] iHiD opened #77 "Move analysis.json into a different folder than the solution"
At the moment the analysis.json is written into a folder with the solution code. I see this as a possible attack vector as solutions could be submitted with it already present, and parsing it could lead to vulnerabilities. I therefore want us to write the analysis.json to a different directory. I am thinking the following structure would be sensible:

[code]

Other than voicing frustration at the

[2019-09-04 23:06] SleeplessByte commented on #77
Fine with me, but preferably we want to receive _both_ the input dir _and_ output dir, so that "root" can remain "unwritable"?

[2019-09-05 06:44] ErikSchierboom commented on #77
It seems like a great idea anyway to be explicit about where to save the files to, as we can then change it easily later on if we should so decide to.

It seems like this should also apply to the proposed test runner interface, right?

[2019-09-05 14:06] iHiD commented on #77
Having chatted to @ccare, I don't think it hugely matters whether root is writable too or not, as it's totally scoped for this one solution.

However I do think it would be better to have:
[code]

We will continue to pass in arg2 as we currently do, but then the input will be `iteration` and output will be `output` or something. I don't think we see much benefit in passing in an extra arg.

[2019-09-05 15:02] ErikSchierboom commented on #77
I don't particularly mind not having an extra argument, I can always add it to my own analyzer and have it default to `/output` if it's not provided.

[2019-09-05 15:05] ccare commented on #77
From our earlier conversation, I was more leaning to something like

`/mnt/exercism/iteration` and `/mnt/exercism/result`, so subdirs of the original mount, not a new /output root mount.

[2019-09-05 21:59] SleeplessByte commented on #77
I didn't particularly mean that root has to stay unwritable but exactly that this discussion here already shows we might want to change the output dir along the way 😅

[2019-09-14 13:08] iHiD commented on #77
So two possibilites I see here.
1. Pass in a dir and then have two subdirectories underneath that (`iteration`/`output`) that the analyzer reads/writes from. (🎉)
1. Pass in two arguments: an iteration and an output dir. (🚀)

Vote using the emoji above on this post. If we don't have a consensus, we can discuss further.

Once we agree this, I'm tempted to turn off all the analyzers until people upda

[2019-09-14 16:10] ErikSchierboom commented on #77
I don't mind updating the analyzer.

[2019-09-24 01:04] SleeplessByte opened #78 "[Update To Deploy] javascript/resistor-color-duo"
https://github.com/exercism/analyzer-orchestrator/pull/27

[2019-09-24 10:07] ccare commented on #78
Released.

[2019-09-24 10:09] ccare commented on #78
Hi @SleeplessByte , this new version is blowing up for existing two-fers... Relevant output below...

[code]

I'll roll back for now :)

There is some code in the ruby analyser to 'rubyify' `two-fer` into `two_fer`, I assume this is similar?

[2019-09-26 08:38] ccare commented on #78
This is now resolved :)

[2019-09-26 08:38] #78 closed, assigned to ccare

[2019-09-26 11:04] tehsphinx commented on #77
We could set the iteration and output dir to the same folder at first, for all analysers to switch, then implement the separation.

[2019-09-26 12:52] iHiD commented on #77
@tehsphinx  Excellent idea.

[2019-09-26 19:52] neenjaw opened #79 "[New Analyzer] Elixir"
Hi,

My name is Tim Austin (@neenjaw) and I am a mentor on the elixir track and have contributed to the elixir track repository.

I would like to implement an elixir analysis tool to provide automated feedback. I have a prototype located in a [public repo](https://github.com/neenjaw/proto-elixir-analyzer).

The analyzer implements a domain specific language which describes features of programs (de

[2019-09-27 01:02] SleeplessByte commented on #79
Great! I only have one question:

Is this analyzer _also_ running the tests, as per the README.md? Because if it is, it shouldn't. We want running tests to be separated from running analysis. But I might read it with bias and you meant "test for analysis" instead of "exercise tests".

[2019-09-27 01:53] neenjaw commented on #79
That is a good question. It can but it doesn't have to when doing static
analysis. It does have to "compile" in order to generate the AST, but not
run any exercise code.

At the moment, the testing is a run time option, so it can be disable. I
cobbled together this prototype together before I had decided where it
might fall in the eco system, so was experimenting with a couple things.

In the end,

[2019-09-27 02:47] neenjaw commented on #79
That is a good question. It can but it doesn't have to when doing static analysis.

It does have to "compile" in order to generate the AST, but not run any exercise code.

At the moment, the testing is a run time option, so it can be disable. I cobbled together this prototype together before I had decided where it
might fall in the eco system, so was experimenting with a couple things.

In the end

[2019-09-27 05:42] neenjaw commented on #79
https://github.com/neenjaw/proto-elixir-analyzer/tree/elixir-analysis is a branch of the prototype which only runs the static analysis, the testing features have been removed.  I would probably go forward with this version

[2019-09-27 10:57] iHiD commented on #79
I've added the repo here: https://github.com/exercism/elixir-analyzer. I've also invited you to the GitHub org, which will give you access to that.

Finally, I've also added @nobbz to the team, as someone who might be able to review code etc, and who you can buddy up with if needed :)

You might also be interested in helping on the test-runner, which I believe @nobbz was hoping to make a start on

[2019-09-27 10:57] #79 closed, assigned to iHiD

[2019-09-27 11:23] NobbZ commented on #79
I'm planning on preparing a README.md and a CONTRIBUTING.md during the weekend, hoping to lure someone during hacktoberfest :D

[2019-09-27 11:54] SleeplessByte commented on #79
You can copy (parts) from the ones we have at the [javascript-analyzer](https://github.com/exercism/javascript-analyzer/blob/master/CONTRIBUTING.md) and [javascript-track](https://github.com/exercism/javascript/blob/17ed7e7487fd2a6f243b9bd304797e99dc4f0fa2/CONTRIBUTING.md)!

[2019-09-27 12:51] neenjaw commented on #79
Sure, I'd like to help with that too. There is a piece of code in that first repo which is an ExUnit CLI formatter which is all we need to turn ExUnit output into JSON for output.

[2019-09-29 15:05] SleeplessByte opened #80 "[Update To Deploy] javascript"
`resistor-color-duo` and `resistor-color`

- https://github.com/exercism/analyzer-orchestrator/pull/28
- https://github.com/exercism/website-copy/pull/1329

[2019-09-29 20:05] iHiD commented on #79
@neenjaw I've added you to the test-runner team too.

[2019-10-02 07:37] #80 closed, assigned to ccare

[2019-11-21 12:08] yawpitch opened #83 "[New Representer] Python"
Can I have a repo, etc, for a Python representer please?

[2019-11-21 12:29] iHiD commented on #83
https://github.com/exercism/python-representer/ :+1:

[2019-11-21 12:29] #83 closed, assigned to nobody

[2019-11-21 12:40] yawpitch commented on #83
Cheers!

[2019-11-24 11:16] ErikSchierboom opened #87 "[New Representer] F#"
I'd like to work on an F# representer.

[2019-11-26 17:01] tehsphinx opened #89 "[New Representer] Go"
I'd love to start creating a representer. Pattern extraction can be reused from the go-analyzer and get some tweaks to optimize it.

[2019-11-28 08:18] iHiD commented on #87
https://github.com/exercism/fsharp-representer :)

[2019-11-28 08:18] #87 closed, assigned to nobody

[2019-11-28 08:18] iHiD commented on #89
Whoop! :)

https://github.com/exercism/go-representer

[2019-11-28 08:18] #89 closed, assigned to nobody

[2019-12-13 02:59] SleeplessByte opened #90 "[Update To Deploy] JavaScript"
https://github.com/exercism/javascript-analyzer/releases/tag/v0.6.1
https://github.com/exercism/website-copy/pull/1408

[2019-12-13 03:07] iHiD commented on #46
If we go down the git-sha root, we could also potentially use the most recent git-sha when an **exercise** directory was touched, lower than or equal to the git-sha that the solution is locked at. git-shas then effectively become mapped 1-1 to the exercises.

Does that make any sense?

[2019-12-13 03:15] SleeplessByte commented on #46
Yes, but how would I know what the _order_ of git-sha's is?

[2019-12-13 04:32] iHiD commented on #46
So, let's say the repo has 20 commits, handily numbered 1-20
- Exercise 1 was last updated in commits [7, 9 and 13].
- User 1's solution is locked to git-sha-12, so I would pass git-sha-9 to you
- User 2's solution is up to date (locked to git-sha-20), so I would pass git-sha-13 to you

So rather than passing the solution sha to you, I pass the last exercise sha to you.

The analyzer can then say

[2019-12-15 12:49] NobbZ commented on #46
What do you consider updates of the exercises here?

Similar to how the website currently does consider it an update when files have been touched that match the test-pattern, or when any file changed in the exercise?

[2019-12-16 17:51] ccare commented on #90
I've built this, and will try a deploy tomorrow.

[2019-12-18 12:42] ccare commented on #90
Hi @SleeplessByte ! This is deployed and looks like it's behaving itself ok. Can you submit an example that exercises the updated code? Thanks

[2019-12-18 15:51] SleeplessByte commented on #90
Basically any new `resistor-color-duo` exercise, such as:

https://exercism.io/mentor/solutions/1312dca0a48f4b868b9ea7922ceb1745

[2019-12-19 16:29] #90 closed, assigned to ccare

[2020-01-06 11:25] iHiD commented on #46
I think any file changing within the exercise directory.

[2020-01-17 20:08] verdammelt opened #92 "[New Representer] Common Lisp"
I am the maintainer of the Commm Lisp language track.  As part of v3 maintainer activities I'll need to write a representer. This is the first step - getting a repo for it.

[2020-01-18 16:46] ErikSchierboom commented on #92
Something for @iHiD to do :)

[2020-01-19 00:31] neenjaw opened #93 "[Elixir] New Representer"
Hello, I'd like to start a new representer for the elixir track in light of preparing for v3. I have a reasonable start at [neenjaw/elixir-representer](https://github.com/neenjaw/elixir-representer).

Thanks!

[2020-01-19 11:18] iHiD commented on #93
Great. Here you go: https://github.com/exercism/elixir-representer

Have fun! :)

[2020-01-19 11:18] iHiD commented on #92
Great. Here you go: https://github.com/exercism/common-lisp-representer

Have fun! :)

[2020-01-19 11:18] #93 closed, assigned to iHiD

[2020-01-19 11:19] #92 closed, assigned to ErikSchierboom, iHiD

[2020-02-15 12:05] bergjohan opened #94 "[New Representer] C"
I'm a new maintainer of the C track, and I would like to get started on the representer!

[2020-02-18 20:59] mirkoperillo opened #95 "[New Representer] Java"
Hi,

I'm Mirko. I'm a contributing maintainer of Java track helping in new v3.
I'm interested into start a representer for the Java track

[2020-02-18 21:25] iHiD commented on #95
Thanks!

https://github.com/exercism/java-representer

Have fun :)

[2020-02-18 21:25] #95 closed, assigned to nobody

[2020-02-18 21:25] iHiD commented on #94
Thanks!

https://github.com/exercism/c-representer

Have fun :)

[2020-02-18 21:25] #94 closed, assigned to nobody

[2020-03-25 19:03] ErikSchierboom opened #96 "[F#] New Analyzer"
I'd like to work on an F# analyzer.

[2020-03-26 11:51] iHiD commented on #96
https://github.com/exercism/fsharp-analyzer :)

[2020-03-26 11:51] #96 closed, assigned to nobody

[2020-03-26 12:42] ErikSchierboom commented on #96
Thanks!

[2020-03-26 23:09] jitwit opened #97 "[New Representer] J Programming Language"
Request to add a representer repo for J, thanks!

[2020-03-30 10:52] bobbicodes opened #98 "[New analyzer] Clojure"
I'd like to start working on this. I've been exploring some ideas on different approaches, and definitely worth looking at are [tools.reader](https://github.com/clojure/tools.reader) and [tools.analyzer](https://github.com/clojure/tools.analyzer), as well as the [Small Clojure Interpreter](https://github.com/borkdude/sci). A solution leveraging all of these could be fantastic!

One advantage of Cl

[2020-03-31 10:53] iHiD commented on #97
Thanks! :) https://github.com/exercism/j-representer and Thanks! :) https://github.com/exercism/j-analyzer

[2020-03-31 10:53] #97 closed, assigned to nobody

[2020-03-31 10:53] iHiD commented on #98
Exciting! :) https://github.com/exercism/clojure-analyzer

[2020-03-31 10:53] #98 closed, assigned to nobody

[2020-03-31 10:54] iHiD commented on #98
Also https://github.com/exercism/clojure-representer

[2020-04-03 22:44] bobbicodes opened #99 "[New Representer] Clojure solution set request"
Hi, I heard you had a bunch of `two-fer`s to go around?

[2020-04-06 21:48] iHiD commented on #99
1-1'd them to you on Slack :)

(Thanks for the assign @SleeplessByte)

[2020-04-06 21:48] #99 closed, assigned to iHiD

[2020-06-09 17:38] ynfle opened #101 "[New Representer] Nim"
Hello!

I would like to start a representer for Nim.

I have started to work on the represented for Nim [here](https://github.com/ynfle/nim-representer).

[2020-06-09 17:58] ErikSchierboom commented on #101
@iHiD This is for you to look at :)

[2020-06-16 05:25] seanchen1991 opened #102 "[New Representer] Rust"
Hello :wave:

 I noticed there wasn’t a representer for Rust, so I’d like to help work on it. I’ve spent some time exploring and thinking about what open-source Rust libraries that could be leveraged for this sort of task (the `syn` crate is at the top of my list right now), but other than that, I don’t really have any other credentials, other than just the fact that I’m interested in this problem

[2020-06-16 08:33] ErikSchierboom commented on #102
Great! @iHiD will create a repo for you.

[2020-06-16 20:22] iHiD commented on #102
Hello. There is a rust analyzer: https://github.com/exercism/rust-analyzer

Did you mean a representer?

[2020-06-16 20:31] seanchen1991 commented on #102
Yes, I meant representer 🙂

[2020-06-16 20:58] iHiD commented on #102
Great! Here you go: https://github.com/exercism/rust-representer :D

[2020-06-16 20:58] #102 closed, assigned to iHiD

[2020-06-16 21:01] iHiD commented on #101
Sorry it took me ages! https://github.com/exercism/nim-representer

[2020-06-16 21:01] #101 closed, assigned to nobody

[2020-06-16 21:15] ynfle commented on #101
No problem

Looking forward! 😃

[2020-11-25 18:12] iHiD commented on #77
This got done.

[2020-11-25 18:12] #77 closed, assigned to nobody

[2020-11-25 18:18] iHiD commented on #76
This is now done.

[2020-11-25 18:18] #76 closed, assigned to nobody

[2020-11-25 18:20] #59 closed, assigned to nobody

[2020-11-25 18:20] iHiD commented on #68
This ceases to matter in v3, so closing.

[2020-11-25 18:20] #68 closed, assigned to nobody

[2020-11-25 18:20] #62 closed, assigned to nobody

[2020-11-25 18:20] #44 closed, assigned to ccare

[2020-11-25 18:22] iHiD commented on #46
We can do this and/or the config.json file. Let's open a new issue for this once the new pass of analyzers is done.

[2020-11-25 18:22] #46 closed, assigned to nobody

[2020-11-25 18:22] iHiD commented on #41
The world has changed a lot since this so I'm going to close it.

[2020-11-25 18:22] #41 closed, assigned to nobody

[2020-11-25 18:23] #24 closed, assigned to iHiD, ccare

[2020-11-25 18:23] #21 closed, assigned to iHiD, ccare

[2020-11-25 18:23] iHiD commented on #36
I'm happy to get all the files or provide a config.json. Let's work this out when we do the new analyzer pass in the next few days.

[2020-11-25 18:23] #36 closed, assigned to nobody

[2020-11-25 18:24] #15 closed, assigned to nobody

[2020-11-25 18:24] #38 closed, assigned to nobody

[2020-11-25 18:25] #40 closed, assigned to nobody

[2020-11-25 18:25] #47 closed, assigned to nobody

[2020-11-25 18:25] #4 closed, assigned to nobody

[2020-11-25 18:26] iHiD commented on #5
Moving forward in v3, I think your approach will work really well @tehsphinx

[2020-11-25 18:26] #5 closed, assigned to nobody